
<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/poetry/cover/10.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >WHEN I MISS YOU</h1>
                    <br />
                    <p>The tick of the clock seems slower and dragging..</p>
                    <p>The hush of the wind seems colder and chilling..</p>
                    <p>The faintest of noises seems louder and ringing..</p>
                    <p>All these and more happens when i miss you...</p>
                    <br />
                    <p>The butterflies wake up and fill my stomach..</p>
                    <p>Your thoughts and words and smile then comes up..</p>
                    <p>My heart leaps and i can feel the jolt on the inside..</p>
                    <p>All these and more happens when i miss you...</p>
                    <br />
                    <p>The words come flowing and my smile gets wider..</p>
                    <p>You are on the inside churning all my feelings..</p>
                    <p>I can see more inside and i go blind on the outside..</p>
                    <p>All these and more happens when i miss you...</p>
                    <br />
                    <p>I miss you honey... ❤</p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>