<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>
    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src={{dataSelected.mainData.covers.justforyou}} class="pagebanner" />

        <div class="col-md-2" id="adslot1_pc">
            <div></div>
            <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
        </div>

        <div class="col-md-8" id="maincontent">

            <div class="col-md-12">
                <h1 style="text-align: center;border-bottom: none; color:red" >ALL YOURS</h1>
                <p>This page is all for you honey.. A private network for you by me.. I Love and Know You most in this world.. This is a collection of the loveliest and funniest of reads, pictures and clips and the hot news of your interest.. Regularly updated and handpicked by me... I Love You My Darling...</p>
            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

        </div>


        <div class="col-md-2" id="adslot2_pc">
            <div></div>
            <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
        </div>


        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>
