
<div class="col-md-12" id="mypage" ng-controller="mainController">


    <img src={{dataSelected.mainData.general.image}} class=" bluerose" />

    <div class=" auth" id="login">
        <div class="panel panel-primary">
            <!--<div class="panel-body text-center">-->
                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p>Username: </p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type='text' ng-model='user'>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p>Password: </p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type='password' ng-model='pwd'>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<a ng-click="logId()">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p><div class="btn label-info">Sign In</div></p>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--<a href="#greytheme" id="redirect">-->
                    <!--<h1><div class="btn label-success">TAKE ME IN</div></h1>-->
                <!--</a>-->
            <!--</div>-->

            <a href="#greytheme" id="redirect">

                <div class="servicesupersub" style="width:98%; text-align: center;">CLICK HERE</div>

            </a>
        </div>
    </div>

    <div class="auth" id="incorrect">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <div>Incorrect Credentials</div>
            </div>
            <div class="panel-body text-center">
                <a ng-click="tryAgain()"><p><div class="btn label-info">Try Again</div></p></a>
            </div>
        </div>
    </div>

</div>