<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav" style="background: rgba(020,020,020, 0.05) !important; border-bottom: none !important;">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>
    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src={{dataSelected.mainData.covers.playlist}} class="pagebanner playlist" />

        <div class="col-md-2" id="adslot1_pc">
            <div></div>
            <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
        </div>

        <div class="col-md-8" id="maincontent">

            <div class="col-md-12">
                <h1 style="text-align: center;border-bottom: none; color:red" >LETS LOVE AND LISTEN</h1>
                <p>We both have a set of favorite songs.. And many of our favorites are the same.. Listig some of the beautiful songs and videos that we come across so that we wont forget of have to look for them again.. So here is that lovely playlist for us... </p>
            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

        </div>


        <!--<a ng-repeat="item in dataSelected.mainData.playlist.list" href={{item.href}}>-->

            <!--<div class="col-md-3 panelcol panel panel-default">-->
                <!--<div class="panel-body panelcontent">-->
                    <!--<img src="{{item.pic}}" class="panelimg" alt="test"></img>-->
                <!--</div>-->
                <!--<div class="panel-footer">-->
                    <!--<div class="panelname">{{item.title}}</div>-->
                    <!--<div class="panelname">{{item.desc}}</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</a>-->

        <div class="col-md-2" id="adslot2_pc">
            <div></div>
            <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
        </div>
        
        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>
