<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>
    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src={{dataSelected.mainData.covers.playlist}} class="pagebanner playlist" />

        <div class="col-md-2" id="adslot1_pc" style=" opacity: 1; background: #DF9300;  /* fallback for old browsers */background: -webkit-linear-gradient(to left, #EEC849, #DF9300);  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to left, #EEC849, #DF9300); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>I</p>
                <p>LOVE</p>
                <p>YOU</p>
                <p>MOST</p>
                <p>IN</p>
                <p>THIS</p>
                <p>WORLD</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>I</p>
                <p>LOVE</p>
                <p>YOU</p>
                <p>MOST</p>
                <p>IN</p>
                <p>THIS</p>
                <p>WORLD</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>I</p>
                <p>LOVE</p>
                <p>YOU</p>
                <p>MOST</p>
                <p>IN</p>
                <p>THIS</p>
                <p>WORLD</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>I</p>
                <p>LOVE</p>
                <p>YOU</p>
                <p>MOST</p>
                <p>IN</p>
                <p>THIS</p>
                <p>WORLD</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>I</p>
                <p>LOVE</p>
                <p>YOU</p>
                <p>MOST</p>
                <p>IN</p>
                <p>THIS</p>
                <p>WORLD</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>I</p>
                <p>LOVE</p>
                <p>YOU</p>
                <p>MOST</p>
                <p>IN</p>
                <p>THIS</p>
                <p>WORLD</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>I</p>
                <p>LOVE</p>
                <p>YOU</p>
                <p>MOST</p>
                <p>IN</p>
                <p>THIS</p>
                <p>WORLD</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>I</p>
                <p>LOVE</p>
                <p>YOU</p>
                <p>MOST</p>
                <p>IN</p>
                <p>THIS</p>
                <p>WORLD</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>I</p>
                <p>LOVE</p>
                <p>YOU</p>
                <p>MOST</p>
                <p>IN</p>
                <p>THIS</p>
                <p>WORLD</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>I</p>
                <p>LOVE</p>
                <p>YOU</p>
                <p>MOST</p>
                <p>IN</p>
                <p>THIS</p>
                <p>WORLD</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>I</p>
                <p>LOVE</p>
                <p>YOU</p>
                <p>MOST</p>
                <p>IN</p>
                <p>THIS</p>
                <p>WORLD</p>
            </div>
        </div>

        <div class="col-md-8" id="maincontent">

            <div class="col-md-12">
                <h1 style="text-align: center;border-bottom: none; color:darkred" >LETS LOVE AND LISTEN</h1>
                <p style="padding: 2%">We both have a set of favorite songs.. And many of our favorites are the same.. Listig some of the beautiful songs and videos that we come across so that we wont forget of have to look for them again.. So here is that lovely playlist for us... </p>

                <div class="col-md-12" ng-repeat="item in dataSelected.mainData.playlist.list" >

                    <a href={{item.href}}>

                        <div class="col-md-12 panel panel-default">
                            <div class="panel-body panelcontent">
                                <iframe style="margin-bottom: 1.5vh" width="100%" height="320px" src={{item.href}} frameborder="0" allowfullscreen></iframe>
                                <div class="panelname" style="color:saddlebrown">{{item.title}}</div>
                                <div class="panelname" style="color:saddlebrown">{{item.desc}}</div>
                            </div>
                        </div>

                    </a>

                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

        </div>

        <div class="col-md-2" id="adslot2_pc" style=" opacity: 1; background: #DF9300;  /* fallback for old browsers */background: -webkit-linear-gradient(to right, #EEC849, #DF9300);  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to right, #EEC849, #DF9300); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>*</p>
                <p>YOU</p>
                <p>ARE</p>
                <p>MY</p>
                <p>EVERY</p>
                <p>THING</p>
                <p>*</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>*</p>
                <p>YOU</p>
                <p>ARE</p>
                <p>MY</p>
                <p>EVERY</p>
                <p>THING</p>
                <p>*</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>*</p>
                <p>YOU</p>
                <p>ARE</p>
                <p>MY</p>
                <p>EVERY</p>
                <p>THING</p>
                <p>*</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>*</p>
                <p>YOU</p>
                <p>ARE</p>
                <p>MY</p>
                <p>EVERY</p>
                <p>THING</p>
                <p>*</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>*</p>
                <p>YOU</p>
                <p>ARE</p>
                <p>MY</p>
                <p>EVERY</p>
                <p>THING</p>
                <p>*</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>*</p>
                <p>YOU</p>
                <p>ARE</p>
                <p>MY</p>
                <p>EVERY</p>
                <p>THING</p>
                <p>*</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>*</p>
                <p>YOU</p>
                <p>ARE</p>
                <p>MY</p>
                <p>EVERY</p>
                <p>THING</p>
                <p>*</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>*</p>
                <p>YOU</p>
                <p>ARE</p>
                <p>MY</p>
                <p>EVERY</p>
                <p>THING</p>
                <p>*</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>*</p>
                <p>YOU</p>
                <p>ARE</p>
                <p>MY</p>
                <p>EVERY</p>
                <p>THING</p>
                <p>*</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>*</p>
                <p>YOU</p>
                <p>ARE</p>
                <p>MY</p>
                <p>EVERY</p>
                <p>THING</p>
                <p>*</p>
            </div>
            <div style="font-size: xx-large; padding: 30vh 0 30vh 0; text-align: center; color: #fafafa; font-family: 'Segoe UI Semibold' ">
                <p>*</p>
                <p>YOU</p>
                <p>ARE</p>
                <p>MY</p>
                <p>EVERY</p>
                <p>THING</p>
                <p>*</p>
            </div>
        </div>

    </div>

    <div class="col-md-12" id="footer" ng-controller="mainController">

        <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

    </div>

</div>
