<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/13.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >50-50 TROUBLES</h1>
                    <br />
                    <p>Babe i m totally okay now okay... </p>
                    <p>Today morning.. You fuckin messed me up with your 50/50.. Next time.. be clear of what you say okay.. That ruined my whole supercalifragilisticexpialidocious mood.. and i got totally emotional and never got myself back for the whole day.. i havent even showered you know.. </p>
                    <p>Your dream was fuckin stupid too.. we wont end up together maybe.. but dont try hooking me up with soneone okay.. i ll go if you want me to.. don't make me say things.. </p>
                    <p>As i always say.. i m super strong now.. but im always weak in front of you.. because i love you and i dont know what mood youre in and i can not see or hear you.. so i dont wanna hurt you.. but dont take advantage of it each time.. </p>
                    <p>If i start talking about conscience you ll end up killing yourself so lets not get into that part.. I wont fucking leave you alone no matter what happens because thats what iam.. if i care for someone i ll be there even if it is gonna hurt me bad.. I will never fucking leave you.. You understand?? Keep your picture if you dont wanna give.. its you who is losing me.. when im still ready.. it hurts but im not the reason why this is not happening.. I ll be there for you okay.. I ll be your moon in the dark.. except there wont be a new moon day..</p>
                    <p>Fucking keep fighting everyday.. i now know you cant confide yourself fully to me.. so confide yourself fully to someone.. tell about everything.. your worries.. your sadness.. your love.. even about me.. to just one.. who you trust for whole.. and never worry about it.. it will fucking help you okay.. i am sure of it..</p>
                    <p>I dont wanna hear about you trust me or love me or believe me.. i know what we are.. you need not explain.. i will fucking keep up this spark and keep fighting.. make sure you do the same.. Never.. ever.. give yourself up.. anytime in life.</p>
                    <p>However weak you might think you are.. You are fucking strong.. You got me.. You got all my love.. Even if this whole world turns its back on you.. I will never do that.. So fuckin believe that and be strong.. Keep fighting this fucking disease until it moves away.. It will move away .. </p>
                    <p>Understand this.. Underline this... </p>
                    <p>EVEN IF THIS WHOLE WORLD BREAKS YOUR HEART.. I WILL NEVER BREAK YOU.. AND I WILL BE THERE FOR YOU.. I AM READY TO COME FOR YOU EVEN NOW.. YOU ARE THE ONE STOPPING ME.. SO REACH ME WHENEVER YOU NEED ME.. MAIL OR REAL LIFE.. I WILL BE THERE FOR YOU..</p>
                    <p>I love you Chianna ❤</p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>