<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/39.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >ALL FOR YOU</h1>
                    <br />
                    <p>Honey..</p>
                    <p>You know..</p>
                    <p>Its not easy..</p>
                    <p>I ve been doing nothing well and much for past 2 3 years after my course, and even few years before that..</p>
                    <p>But i ve never wanted to win like i want it now..</p>
                    <p>I jus lazed my way off.. And just lived without any aim or goal..</p>
                    <p>But now..</p>
                    <p>I want to succeed soo badly . Coz i want to prove it to you..</p>
                    <p>What it means to me.. to have you on my side..</p>
                    <p>What you mean to me..</p>
                    <p>I will do it for you honey..</p>
                    <p>You know..</p>
                    <p>After all these years of failure and sadness..</p>
                    <p>With no one with me physically to both love and support and care like i want them to..</p>
                    <p>With no things going my way for a streak of many years now..</p>
                    <p>With no resume to prove my worth..</p>
                    <p>With no respect among people around you..</p>
                    <p>I have to start up again..</p>
                    <p>From the root..</p>
                    <p>All by myself and no one else..</p>
                    <p>And take myself as high as i possibly can and want to..</p>
                    <p>That's the difficulty..</p>
                    <p>But..</p>
                    <p>I have you my love..</p>
                    <p>I will do it for you..</p>
                    <p>Every single step..</p>
                    <p>I want you to know its not easy doing this..</p>
                    <p>I will give my absolute best..</p>
                    <p>Promise me you will give your absolute best for your health.. promise me honey..</p>
                    <p>You have to do it..</p>
                    <p>Show me what i mean to you..</p>
                    <p>Show me that i can make you do it..</p>
                    <p>I believe in you..</p>
                    <p>You have to do it.. your very best..</p>
                    <p>You can do it my love..</p>
                    <p>You have to..</p>
                    <p>We both have stiff tests now..</p>
                    <p>We cant afford any mistakes okay..</p>
                    <p>Please focus on it well.. your health..</p>
                    <p>Whose is easier..</p>
                    <p>I don't know..</p>
                    <p>If i was asked to rest and do nothing i will do it eyes closed..</p>
                    <p>I ve been doing it for so long..</p>
                    <p>I ve been watching movies listening music reading books etc doing nothing for like until a year ago..</p>
                    <p>For me, Building a schedule from nothing.. and doing things on what i ve been failing in for last 7 years and doing more things that i have never done before.. you have to imagine that..</p>
                    <p>But im doing it my love..</p>
                    <p>Im doing it coz of you...</p>
                    <p>Because i love you...</p>
                    <p>I love you most in this world..</p>
                    <p>Its All for you..</p>
                    <p>I ll do anything for you..</p>
                    <p>Like that.. you have to do this for me my love..</p>
                    <p>You love me like i love you right..?</p>
                    <p>Show it to me that you do..</p>
                    <p>Show it to me by healing yourself..</p>
                    <p>You have to do it honey..</p>
                    <p>And you will..</p>
                    <p>Promise me you will..</p>
                    <p>I love you darling...</p>
                    <p>Take care okay..</p>
                    <p>Always take care of yourself..</p>
                    <p>I love you...</p>
                    <p>See you my love... </p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>