<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/31.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >ALL IS WELL</h1>
                    <br />
                    <p>All is well..</p>
                    <p>All is well my love..</p>
                    <p>All is well.. there is nothing to worry about...</p>
                    <p>All is well..  relax your mind.. caaallmmmm..  your 32 c is so sexy my love.. so is your delicious honey.. i wont spill a drop..  smile for me my love.. I love you...</p>
                    <p>All is well my queen.. your health is the most important thing in this world..</p>
                    <p>All is well...  There is time for every thing... Every thing.. You will know it when it comes..  I love you...❤</p>
                    <p>All is well..  just keep telling all is well to yourself... At any circumstances.. You will be okay.. Nothing will happen to you.. I believe in you.. I have faith in you.. I trust you.. I love you...</p>
                    <p>All is well my love.. I am always there for you no matter what.. Dont worry.. Nothings gonna happen to you.. Smile..  Be strong..  Have that grit.. No fear.. Coz i love you.. And im there for you..</p>
                    <p>All is well.. My love.. I love you most in this world..Believe me when i say..</p>
                    <p>All is well.. Just relax your mind.. Keep calm.. Be strong.. Smile in the inside.. Have that grit.. Smile on the outside.. Show your strength.. Have that confidence.. Coz im here..  And i love you.. You are my queen.. My angel.. My everything.. All is well.. I love you Chianna... Be strong.. be happy.. be healthy.. I m always there for you.. And i love you most in this world.. I love you sweetheart.. You are my darling.. The most delicious honey.. The most beaitiful woman in this world.. The strongest..  The sweetest.. The most loving.. The most caring.. The most lovable.. My love.. I love you...❤</p>
                    <p>All is well..</p>


                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>