<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/48.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >HAPPY BIRTHDAY !!!</h1>
                    <br />
                    <p>I'm not always the best at expressing myself to you, still I don't refrain from doing so. I want you to know exactly what I feel when I say it. Thats why I just say so. First of all, Merry Christmas and The Happiest Birthday to You Honey...</p>
                    <p>I want to thank you for giving me a chance. When I first met you, I knew I had found someone so pure, lovely, caring, beautiful, incredible and perfect for me. And since then all I've wanted was to be with you as much as possible.</p>
                    <p>When I thought I had lost you, I was torn apart because I never intended that to happen and I wanted you back and wanted the best for you — wanted you to be happiest always. Knowing you were so sad and broken before and during the days we were apart and knowing you were so happy and loved and knowing you love me as we got together again gave me the ultimate feeling of love to you.. And the will and passion and intent to find a way for things to work. And seeing you happy now makes me happy that I did the right thing. I will do anything for you My Love...</p>
                    <p>I will do Everything for you to see you happy and healthy like this always.. And more so when you come to me.. We will be the happiest..</p>
                    <p>Lets Love, Laugh and Live Long Together My Love... I Love You...</p>
                    <p> - Your Sexy Krish ;)</p>

                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>