<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/10.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >BLESSINGS</h1>
                    <br />
                    <p>Chianna.. i'm okay.. Understand?? Lets have fun and look out for each other.. Its great to have you around.. But make sure you're healthy.. I can't stop saying that i love you... I love you and i ll ever love you... And i ll never let you go...</p>
                    <p>Okay???</p>
                    <p>I always care for you babe... Its good to see that you care too.. I ll kiss you if you want to.. i d fuck you if you want to.. and i ll let you go if you want to.. </p>
                    <p>Your loss.. not mine..  ☺☺☺ </p>
                    <p>We are the  blessings that happened to each other when we needed each other.. We are soulmates.. And I ll never let you go.. understand?? Im not like your other friends... And you're not like mine... We both are way similar to each other than our friends... </p>
                    <p>I understand your side.. and its okay... When we are with each other... we both are happy.. So lets be happy.. ☺</p>
                    <p>Chianna.. its night and i was sleepless and worried... that is why i got emotional.. okay??? I know you have put a lot of effort and time in me.. I love you...</p>
                    <p>Its just that we are in the different parts of the world and different backgrounds.. Lets make the best out of each other... I ll be there for you no matter what.. Babe.. i love you.. And i wont let you go okay..? </p>
                    <p>I ll never make you feel alone... you are my best friend.. my soulmate.. I m a hell lot stronger.. Chianna.. let's be there for each other..</p>
                    <p>To be honest... i really thought of coming to hawaii to help you out... i was also going through all the visa and stuff... But now i know... I will not haunt you chianna... Nor have i ever stalked you... or meant to... </p>
                    <p>I just love you that much... I did not play you for one bit... Nor have i cared how u look or how rich u are... </p>
                    <p>Its a deal... </p>
                    <p>I will not come for you... Unless you ask me otherwise... Or unless i get into that level... </p>
                    <p>You can believe that... </p>
                    <p>Mail me okay... Love you... ❤</p>

                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>