<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/17.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >BUSY BABE</h1>
                    <br />
                    <p>Its getting late babe... You gotta sleep okay... I don't want to disturb you from your busy schedule okay... Just be happy and healthy.. Thats all i want... </p>
                    <p>I will be okay.. don't worry about me okay.. Don't stress yourself ever for me.. i can manage... I was only trying to be there for you... Now you got your best friend there now.. Dont worry.. He s always there for you.. Enjoy and be happy... </p>
                    <p>You can always turn to me whenever you need someone.. I won't let go... Good night.. Sleep tight.. Be happy... Don't ever feel bad coz you are the most important.. Do what is needed for you.. Okay..? </p>
                    <p>Love you..❤ Smile for me okay.. always.. </p>
                    <p>You have to fight.. Show your strength.. Keep fighting.. You will Win.. </p>
                    <p>See ya.. </p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>