<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/35.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >COMING THERE</h1>
                    <br />
                    <p>Honey...</p>
                    <p>You said.. if i could talk for myself.. i d be there now..</p>
                    <p>Please understand that... the Only reason.. the only very reason.. That i havent come there by now..  Is coz i dont have enough money... You dont know how helpless i feel now... I cant ask money to anyone now for this reason... coz im not successful yet... And i have exams.. and if i tell anyone that i wanna go hawaii now they ll say im mad and wont help.. And also.. nor are my friends in such a great position to be generous with a lump sum... I am saving Everything i have... Everything im gonna get... Im planning it all... To be there for you as soon as i can... I hope its January... I have my exams and some projects i plan to get the sum...</p>
                    <p>Nothing to worry about... You will know my every step... Nothing will happen to you...</p>
                    <p>And all is well... Relaxxxx.....</p>
                    <p>Im not going to affect your or your grandpas plans and dreams of your future in any ways... You can be there for the workers... You can be a doctor there...</p>
                    <p>And im not coming to make you run away or kidnap you... Im coming there to meet you... I can stay and help.. i will.. I have to go for a job anyways.. I will do it there.. Anything for you.. Any thing at all...</p>
                    <p>Visa takes time.. 40 days usually..</p>
                    <p>I have to think of that too.. i ll apply soon..</p>
                    <p>So its january the soonest...</p>
                    <p>Please understand that I am not just a man of words..</p>
                    <p>I do anything for my love.. for you...</p>
                    <p>I love you most in this world..</p>
                    <p>I miss you now.. see you soon.. ❤❤</p>
                    <p>Please dont leave me that i ve said this now..</p>
                    <p>I beg you...</p>
                    <p>I love you Chianna.. ❤</p>
                    <p>Any of the above steps arent taken yet...</p>
                    <p>Coz i need to save... i spent it all on the website...</p>
                    <p>I ll get some in a weeks time..</p>
                    <p>Please understand and dont leave...</p>
                    <p>I love you ... ❤</p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>