<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/56.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >IT'S ALL FOR YOU</h1>
                    <br />
                    <p>Honey...</p>
                    <p>I love you...</p>
                    <p>I love you most in this world...</p>
                    <p>No one can take that away from me...</p>
                    <p>No one can love you like i love you honey...</p>
                    <p>I have been there when you had no one...</p>
                    <p>And when you were dying...</p>
                    <p>Making you live...</p>
                    <p>Making you take care...</p>
                    <p>Making you hope...</p>
                    <p>Making you happy...</p>
                    <p>Making you loved...</p>
                    <p>Without expecting anything until you said you love me...</p>
                    <p>Being there for you...</p>
                    <p>Just like you ever wished for...</p>
                    <p>As your everything...</p>
                    <p>Being anytime and everytime for you without considering the timezones...</p>
                    <p>Making you happy when you were sad...</p>
                    <p>Keeping you company when you were lonely...</p>
                    <p>Making you strong when you felt weak...</p>
                    <p>Making you smile when you were crying and moody...</p>
                    <p>Making you brave when you were afraid...</p>
                    <p>From waking you up to sending you to sleep...</p>
                    <p>Making you relieved and rubbing your back each time you had a nightmare...</p>
                    <p>Making you dream of a wonderful life...</p>
                    <p>Telling you stories and wonderful dreams...</p>
                    <p>Making you happiest day in day out...</p>
                    <p>Making you moan when you needed pleasure...</p>
                    <p>Making you rejoice with flushing more and more love...</p>
                    <p>Writing you letters and poems and more...</p>
                    <p>Just to make you feel more and more loved...</p>
                    <p>Just to make you feel more and more strong...</p>
                    <p>Every of your tears... worries... sadness... loneliness... and weakness vanished when i came...</p>
                    <p>And transformed to smiles... strength... love... pleasure... bliss... and happiness...</p>
                    <p>I did this all and more to you...</p>
                    <p>Just like you ever wanted... Just the way you ever wished for...</p>
                    <p>From half a world away because you didnt want me to come there yet...</p>
                    <p>I did everything i could from here...</p>
                    <p>And compiled it all to a blue rose for you...</p>
                    <p>Just for you anytime only you could open...</p>
                    <p>Without even your name or your picture...</p>
                    <p>Just Because i love you and you love me...</p>
                    <p>I skipped a lot of my things...</p>
                    <p>I deleted every of my social accounts...</p>
                    <p>Skipped hanging out...</p>
                    <p>And more and more...</p>
                    <p>Thats what i do for love honey...</p>
                    <p>For the one that i love and that loves me...</p>
                    <p>And that is you my love...</p>
                    <p>You are my queen...</p>
                    <p>And i would do this and more for you honey...</p>
                    <p>Anything for you... and Just for You...</p>
                    <p>I Love You❤</p>
                    <p></p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>