<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/63.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >IT'S ABOUT TIME</h1>
                    <br />
                    <p>Honey...</p>
                    <p>I believe that everything you have told to me after you came back from the hospital this time is true...</p>
                    <p>So honey...</p>
                    <p>I think this should not be left alone like this...</p>
                    <p>You and your health and happiness and well being is most important...</p>
                    <p>Read this fully before starting to think...</p>
                    <p>I Love You...</p>
                    <p>He needs to know about this... Your grandpa...</p>
                    <p>I believe that he cares for you, your life, your health and your happiness more than anything else...</p>
                    <p>So tell him honey...</p>
                    <p>Tell it all to him from the beginning...</p>
                    <p>No more hiding it and holding it on to yourself and heaving that stress, pressure and pain inside you...</p>
                    <p>Tell him what happened when you met me...</p>
                    <p>Tell him how happy you were from that moment...</p>
                    <p>Tell him how easily we connected to each other like it was just meant to happen...</p>
                    <p>Tell him this love started even before we knew who we were and what we did...</p>
                    <p>Tell him i still dont know your name or how you look...</p>
                    <p>Tell him how hopeless you were and how ready you were to go to the surgery...</p>
                    <p>Tell him how i made you cancel the surgery and said " im yours and youre mine" and "im always there for you" and was being with you when you needed it most, ignoring and skipping everything else, including the timezone difference, just because i love you...</p>
                    <p>Tell him i knew about your plans that were to happen and i chose to stay because you needed it and that was the only thing i could do to you...</p>
                    <p>Tell him honey...</p>
                    <p>How after each day we loved each other more and more knowing how perfect we were for each other...</p>
                    <p>The two days we missed each other tell him how disturbed you were and how happy you got when i luckily found you back...</p>
                    <p>Tell him how i am the only one of the millions of wishes of yours that finally came true after all this time and all this sadness...</p>
                    <p>Tell him about how we complete each other... and love each other knowing everything about each other... all the imperfections, sickness and failures...</p>
                    <p>Tell him how i made you the happiest and most loved and made you take care of yourself by being with you every day every night and promising myself to you...</p>
                    <p>Tell him how i researched and enquired and found out things about every small problems you had...</p>
                    <p>Tell him about that wonderful chemistry we have... and that understanding... and love... which you never found in anyone else...</p>
                    <p>Tell him that this made you feel home whenever you were talking to me... and made you feel that much secure and understood...</p>
                    <p>Tell him how easily we get into each other and make each other happiest and positive irrespective of what mood we are on...</p>
                    <p>Tell him this is the very reason you were seen beaming and smiling around the office all this time in the recent times... and also crying, a few times... (margo told me ;) )</p>
                    <p>Tell him being with me as a person will result minimal arguments, misunderstandings, jealousy, fights and hate and all negative things that are known to happen in life together...</p>
                    <p>Tell him everything that i kept on doing for you every day and night unconditionally... and made you feel on top of this world...</p>
                    <p>Tell him everything that made you love me this deep and strong... and how much you missed me every day and night...</p>
                    <p>Tell him that the only pressure you had was about choosing me and that made you think much...</p>
                    <p>Tell him about what made you have this heart attack the next day of your engagement...</p>
                    <p>Tell him how missing me for one day due to this network issue in that critical day made you have this heart attack...</p>
                    <p>He is a good man honey... more than that a great grandpa... he will understand this honey...</p>
                    <p>Tell him you will heal and only get better when you be mine and i be yours... Because you can do it honey... I know we can...</p>
                    <p>Tell him im ready to sacrifice my plans until you get very much better and fix all your things in your business and company and i will be there with you and take care...</p>
                    <p>Im working on web honey... so for me location doesnt matter much...</p>
                    <p>I will be there with you and take care of you like no one can... and make you heal and get better and better each day making you the happiest and most loved...</p>
                    <p>I am making you the happiest and most loved from here, half a world away with just my words and occasional voices...</p>
                    <p>Just imagine how beautiful it will be when i be there with you each day and night taking care of you... Imagine how happy and easy it will get when i come there...</p>
                    <p>Honey... consider all the sadness, loneliness and hopelessness and all that you have had in your life...</p>
                    <p>Consider everything that you had to endure to make it till today...</p>
                    <p>Just think of it honey...</p>
                    <p>All of this happened for a reason honey...</p>
                    <p>And all this happiness and love that we will feel every day and night when i be with you... all this suffering will have a meaning then honey...</p>
                    <p>All this pain we have had in your entire life will become meaningful when we smile happily from your heart meeting each other; when you finally lean on to my shoulders and hug and kiss me...</p>
                    <p>You need this more than anything else now honey... Because its you, your life, your health, your happiness and your love that matters most in this world now...</p>
                    <p>We will find a way to get all that we wished for in our entire life... when finally i become yours and you become mine...</p>
                    <p>And when we get to that state of happiness and love and health in our life, we can do things in a way that even we didnt imagine ourselves doing...</p>
                    <p>With all that talent we have and all this happiness, we will do things the best way... we will make decisions the best way... and you will easily get back to prime health... and we will achieve all those goals that we will set...</p>
                    <p>That is how it will get done honey... and that is what a beautiful life is all about...</p>
                    <p>All is well honey...</p>
                    <p>I Love You❤</p>

                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>