<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/34.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >JE T'AIME</h1>
                    <br />
                    <p>Je t'aime mon amour... je t'aime le plus dans ce monde... À toute à l'heure! ❤</p>
                    <p>Prends soin non amour..</p>
                    <p>Je suis toujours là pour toi..</p>
                    <p>Nous sommes une équipe..</p>
                    <p>nous sommes forts ensemble..</p>
                    <p>nous pouvons faire n'importe quoi..</p>
                    <p>toujours se rappeler..</p>
                    <p>les choses se passent quand vous y croyez..</p>
                    <p>croire en toi..</p>
                    <p>rien ne t'arrivera..</p>
                    <p>et vous serez là.. fort.. et souriant..</p>
                    <p>et vous vivrez longtemps .. heureux et en bonne santè..</p>
                    <p>entraîner votre esprit à être calme dans la situation evert.. </p>
                    <p>Tout est bien.. Tout est bien.. Tout est bien..</p>
                    <p>avoir ce courage de se battre.. et continuer à se battre.. et ne jamais abandonner à tout moment..</p>
                    <p>Voilà comment nous gagnons.. Im toujours là pour gagner.. et vous voir gagner..</p>
                    <p>tu es mon amoreux..</p>
                    <p>Et Je t'aime❤</p>
                    <p>Je t'aime Chianna❤</p>
                    <p>ce n'est pas pour tes larmes ou pour te faire sentir faible..</p>
                    <p>c'est pour te faire serrer les poings.. pour te faire grincer les dents..</p>
                    <p>et rester forte contre tout ce qui vient à ton rencontre..</p>
                    <p>et souriez-y comme vous le vaincre ..</p>
                    <p>vous pouvez faire n'importe quoi mon amour..</p>
                    <p>Croyez-le.. et vous le ferez..</p>
                    <p>Je t'aime..❤ Je t'aime le plus dance ce monde..❤ Et Je t'aime pour toujours.. ❤</p>
                    <p>prends soin..</p>
                    <p>Je vais toujours bien..</p>
                    <p>et je suis fort..</p>
                    <p>Tout est bien..</p>
                    <p>Je t'aime Chianna..❤</p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>