<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/26.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >LIVE TO BE HAPPY</h1>
                    <br />
                    <p>You know how sad and terrified i was when you didnt reply? My head fuckin hurt a lot.. I was frozen in my bed for almost 3 hours.. I even thought you were done with me coz i thought was boring you.. And then you replied.. </p>
                    <p>I was relieved.. But still you weren't that happy these days.. I was half worried each day.. I tried my best to cheer you up.. My very best.. Still i didn't feel i was good enough.. But i kept trying.. Today i was sad n worried.. then i was relieved.. and still you were not fully healthy.. you don't know how much i wanna come there and take care of you.. I want you to be happiest and healthiest.. always.. </p>
                    <p>That's why i asked who all came.. who all visited.. and all that.. coz i want you to be okay.. And then you said you love me most. I felt it this time that you meant it most truly.. And i couldn't stop myself.. I cried.. a lot.. I love you Chianna.. I love you most in this world.</p>
                    <p>You make me the saddest.. the happiest.. most worried.. most relieved.. most terrified.. most brave.. most weak.. most strong.. all.. just like that.. You mean that much to me.. Only you do..Don't just keep on writing notes of things you worry about.. It will only increase your stress more.. Just write things to me like this.. Just write how much you love me.. What i make you feel.. How happy you are.. And everything.. </p>
                    <p>Open yourself to your books.. Im your soulmate.. Thats what we are.. And that will never change.. Write things for me like i write for you.. Poems.. Diaries.. Letters.. Anything.. Jus open your heart and pour yourself into it.. It will make you light.. It will take away all the sadness.. worries and fears you have.. </p>
                    <p>Never try to act yourself happy.. Never try to hide your worries.. Life happens just once.. You live.. or you die.. We dont know when.. We never can predict it.. Dont try to.. We just live until we die.. So live it to the fullest.. Each day each night.. Be yourself the happiest.. Yearn and Live for this Happiness you have now.. This is the only thing that matters.. And this is the only thing that will remain.. We dont live to worry. We dont love to worry.. We do it both.. to be happy.. Remember that.. I love you Chianna.. ❤</p>
                    <p>Who cares what condition you got.. It wont help you a bit if you keep on thinkin and writing about it.. Jus let it be.. Its nothing but a pest.. Just make sure that you are concious and careful about it and never take it lightly.. And never take it as too much too.. Its just a pest that needs to be cleaned up each day.. Dont fall of beds or leave the hair wet.. Just make sure youre on the right process.. </p>
                    <p>Try your best and leave all the rest.. Thats the proverb. They dont write stuff like that to just stick up on the walls. They write coz they knew and understood things.. And they wanted the future people to understand it and follow it.. </p>
                    <p>So dont fuckin worry about what condition it is.. Let it bleed.. Let it hurt.. Fuckin fight it with all you got.. Lets see who wins it.. Im here to see you win it. So are a lot of people around you.. Feel that love.. Feel my passion.. Feel the strength.. You will fight.. Fuckin fiercely.. Every hurt will make you stronger.. Every bit of love will heal you and make you more stronger.. So dont worry.. The odds and the people are with you.. Have that grit.. That confidence.. That happy smile of you winning.. You will win.. And I will see to it that happens.. Each day.. Each night.. </p>
                    <p>I love you ❤ </p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>