<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/24.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >LOVE AND TRUST</h1>
                    <br />
                    <p>Honey.. ☺</p>
                    <p>Get inspired from my strength my love.. How strong have you made me.. I love you the most in this world.. I dont know your identity.. I dont know your voice.. I will be truly and deeply lost if anything goes wrong with this.. You spend like around 3 to 5 hours a day with me.. I dont know what happens the other 19 - 21 hours.. Call me stupid.. call me strong.. call me stupidly strong.. </p>
                    <p>But i believe in you.. i trust every of your word blindly.. and i have faith in you that you will not break yourself or break me.. I am taking that leap of faith every day and every night to be with you.. I skip.. adjust and reschedule everything of my life.. just to be there for you.. with you.. just the way you want me to.. </p>
                    <p>Every of your long silences.. with such little information can easily create a big cloud of doubts in a person like me who has a brilliant rational mind who thinks of all the possibilities.. and who has had all the bad experiences of betrayal.. ignoring.. hurt.. pain.. and taking for granted..</p>
                    <p>But i shut them all out.. for you.. and kept smiling and be positive.. still im the same.. Love is the most adventurous thing to do in this world.. most thrilling.. enthralling.. most exciting.. romantic.. the best experience in life.. You made me strong.. positive.. healthy.. happy.. gritty.. loving.. passionate.. and much more.. I want you to be the same.. and to join this adventure.. with me.. </p>
                    <p>We just happened to each other on one sad night.. our last sad night..  And we found each other..  We talked to each other..  We easily found our way to each others hearts..  Coz we are soulmates.. who are meant to be.. We were lost.. sad.. lonely.. and broken.. And look at us now.. </p>
                    <p>Both our lives are a world better.. healthier.. happier.. and all more positive coz we have each other in our lives.. Every of our jinxes.. Every of those lovely conversations.. Every of those strong feelings.. Every of our sweet lovely dreams made in paradise.. Every of the instances which showed our unexplainable connection.. Every of the magic that happened between us.. Every of the most happy strong lovely and romantic words which made us feel on top of the world.. with bliss.. love.. pleasure.. and happiness.. Every of those lovely letters and poems that we wrote for each other..  We never did such things before.. We never felt like this before.. Remember every one of them... </p>
                    <p>To love.. and to be loved by the same person.. is the most strongest.. sweetest.. and simply the best feeling there is.. in this world... Be strong.. fight every battle.. keep a sharp focused mind, a smiling face and a loving heart.. coz you are the world of the most chivalrous lover.. be that strong.. and show it to anything that comes against you.. No stress.. no sadness.. no pressures.. just happiness.. love.. and pleasure.. </p>
                    <p>I dont think you will ever get a person like me ever in your life honey.. and i dont think i will find a person like you in my life.. And i never did or will do this to anyone else in my life.. You are my first love.. my soulmate.. my world.. and that is enough for me to do this and more for you.. to be with you.. always n forever.. </p>
                    <p>I love you Chianna..❤ </p>
                    <p>You are my sweetheart.. ❤</p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>