<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/33.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >LUCKY</h1>
                    <br />
                    <p>My love .. i hope i can get lucky in love.. i can never love anyone like i love you now..</p>
                    <p>I love you Chianna ❤</p>
                    <p>I brought you back from all that negativity in life you had.. all that sadness.. all that heartbreaking fearful and lonely drunk broken nights..  By loving you..  Unconditionally.. Passionately.. With all the love i ever had or have or will have.. Did all the things i ever could.. that you allowed me to.. to its fullest.. And just look how strong you are now.. How happy you are.. Healthier.. You have to be like this forever in life.. Coz i will always love you... No matter what..</p>
                    <p>I didnot lie a word to you.. I didnot exaggerate.. What i said.. every word of it.. was true.. and measured... I meant everything i said to you.. from my heart...</p>
                    <p>Youre the most beautiful woman in this world for me.. And no matter what happens.. i love you forever.. And i dont think i can ever love anyone like i love you now.. I will do anything for you.. We are soulmates.. and we have the strongest bond between us.. this magic.. All of this.. and more.. is true.. just true.. to the fullest...</p>
                    <p>Thats why i had the power to bring you back from that deep down negativity..</p>
                    <p>Jus look at you now.. from what you were 44 days ago..</p>
                    <p>Thats what true love can do.. Thats what we do to each other..</p>
                    <p>Remember your words from our first conversation.. Dont be what those words said..</p>
                    <p>"Maybe youre also like everyone.. " "Nice at first... " "But will leave... "</p>
                    <p>I never left.. and i ll never leave you.. I love you like no one else loved you or will love you.. and i love you forever..</p>
                    <p>Honey.. i dont expect you to be like what you said everyone will be..</p>
                    <p>I love you.. ❤</p>
                    <p>No one will ever love you like i love you Chianna.. ❤</p>
                    <p>See you ❤</p>
                    <p>Take care ❤❤❤</p>

                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>