<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/64.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >MARGO</h1>
                    <br />
                    <p>Margo has been with you like for more than 5 years. I know this because she mentioned it while we talked...</p>
                    <p>You chose her of all people and entrusted her with this secret... And as far as i know, she has been totally loyal to you... Even if this is her job to do so, she has been giving that extra effort, care and concerns to make you and me happy and comfortable in this hardest time because she is one of your good friends...</p>
                    <p>More than all this, she is a girl of 21... And you know about her character more than myself... From the time i talked to her, what i inferred was... She is a very hardworking and helpful girl who takes care of the ones she love... And such sincerity and affection is very hard to find in this selfish world... And she is so talkative, funny, smart, multitasking, and yes, a bit leaned to negative... And good at imitations...</p>
                    <p>Yes, it is her job... But what she was being to me and you in these hard times was not something more than what is inclusive of it... You know i hate silences... And she is a talkative girl who is carefree of what she talks... She is flamboyant in her words... She doesnt pay much attention to what she talks when she starts blabbering... This is what i found out from the time she talked to me...</p>
                    <p>Its fun to have her around... On the times i was so emotional when i missed you, it was her who made me talk, smile and laugh at times... We messed around, talking and joking at times... She is a fierce friend who is a gem to have... And so hardworking  and dedicated that she doesnt even care of her health when it comes to helping people... More than anything, she is an awesome friend honey...</p>
                    <p>The only problem i faced with her at times was her negativity... She seems to be core negative when it comes to things... And im core positive... And at times during when she blabbered, she was drinking and/or smoking... So it was not all intentional whatever she said and it was not all controlled... It just flew off her mouth thats all...</p>
                    <p>But you said you trusted her... And i am half a world away... And so i trust who you trust and i am a person who takes words by their merits... And so i talked to her without much bounds and doubts... So when at times she told negative things and i was already emotional and sad all these days, i got hurt and it was tough to take in...</p>
                    <p>Yes, i got hurt by some things that she told... But however much i got hurt and sad and confused, i didnt buy it fully... She might have misunderstood it, misinterpreted it or mistook it, or might not have been as serious as i took it to be... Or maybe any other reason that she felt that time to say what she said... Whatever it might have been that made her say it, it just happened and cannot be changed now...</p>
                    <p>But remember this honey... No matter of all these external factors... Our love is deeper, stronger and pure than all of this... And it cannot be polluted by all these... And that is why i didnt buy whatever things she said to me just like that, and opened up to you... Dont make any of this worry you about our love getting dented or damaged okay... And lets not doubt or get stressed or worried or sad about what others tell about us or about our love...</p>
                    <p>I love you most honey... And i dont hide things from you and i trust you to the core with everything in my life... That is why i told you all these things honey... A third persons view or perspective of what we are is nowhere near to what we really are honey... Only we know how much we love and how much we mean to each other...</p>
                    <p>I dont want unsaid things between us... And i dont want these private conversations of us go out and have after effects on other people's lives...</p>
                    <p>Yes, what margo did may seem wrong from a perspective, it is... But you have to understand... She kept telling me she is not perfect... She kept telling me when she talks she may end up talking shit and may end up hurting me... She kept telling all these honey... And it was me who made her talk because i hated silence at bad times... She was just being there for me keeping me company honey, when i was alone and sad... Yes, she said negative things at times... She is human... And made a mistake... She, more than anyone else, deserves a second chance honey...</p>
                    <p>She is your good friend honey... Treat her like that my love... I want you to have good friends around you...</p>
                    <p>On the whole i felt that Margo is a very loyal girl who is so passionate and dedicated on what she does and cares much about her people... She is good to talk to and a good company to have around at all times... I felt She is a gem of a friend...Yes she is negative and bad mouthed at times and talks rubbish things... But she admits it too and even warns beforehand...</p>
                    <p>Second chances are golden honey... Sometimes they may even get a world better than what happened on first chances...</p>
                    <p>But yes, think about it honey... I dont have a secretary... So i dont know what all are the things that matters when you have one... And i dont know her as well as you know her... I was just telling you what i felt honey... And i havent lied a word... Please take her experience and friendship into account when you decide... Think about how much effort she put when we had this tough time... And think about this situation and its sensitivity and secrecy also okay... But dont stress yourself much...</p>
                    <p>Please talk to me before you talk to her honey... Take care okay... Lets discuss a bit... And please talk to her with that affection and smile more than being her boss honey... She is 4 years younger than you and is your friend who works under you... Please have that consideration okay...</p>
                    <p>Always be positive... You are my queen... I love you most... All is well...</p>
                    <p>Good Morning honey... Mail me when you wake up okay... I Love You So Much...</p>
                    <p>Take care honey... Always remember, Your health is the most important thing in this world and it matters most... I Love You My Love... Talk to you soon...</p>
                    <p>See youuu...❤</p>
                    <p>If you think im exaggerating a bit, just take the essence of what i meant okay...</p>
                    <p>I m just telling you my view of it...</p>
                    <p>I Love You❤</p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>