<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/43.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >MY ANALYSIS</h1>
                    <br />
                    <p>This is what my analysis says....</p>
                    <p>Dont worry at all....</p>
                    <p>All is well ....</p>
                    <p>Calm down ....</p>
                    <p>Relax ....</p>
                    <p>Im always here for you ....</p>
                    <p>I love you .... ❤</p>
                    <p>Smile for me ....</p>
                    <br />
                    <p>There are stages A B C and D of heart troubles ....</p>
                    <p>You have just reached stage B ....</p>
                    <p>You have chest pains and had strokes before ....</p>
                    <p>You have hcm ....</p>
                    <p>But you are not overweight...  No thyroid...  No diabetes... No blood pressure... No cancer...</p>
                    <p>You are smart and efficient... You have good medical knowledge... You have sufficient support and facility... More than all you have your honey...</p>
                    <p>So no worries of it being a worse thing ....</p>
                    <p>Now you are experiencing some chest pains ....</p>
                    <p>I analysed about these chest pains for you ....</p>
                    <p>The causes and the tips for avoiding, preventing and treating them are listed below ....</p>
                    <br />
                    <p>CAUSES</p>
                    <p>* HOT or COLD Weather</p>
                    <p>* Irregular sleep or no sleep</p>
                    <p>* Irregular diet or schedule</p>
                    <p>* Exercise and sweating</p>
                    <p>* Irregular way of eating and sleeping</p>
                    <p>* Emotional Exhilaration and tension</p>
                    <p>* Physical or mental stress</p>
                    <p>* Irregular intake of medicines</p>
                    <br />
                    <p>TIPS TO PREVENT CHEST PAINS</p>
                    <p>* Wear multiple layers of clothing in cold</p>
                    <p>* Avoid climbing steps whenever possible</p>
                    <p>* Avoid stretching much</p>
                    <p>* Avoid reaching your hand stressfully</p>
                    <p>* Eat chocolates at times</p>
                    <p>* Eat lots of fruits vegetables and proteins</p>
                    <p>* Maintain proper schedule and diet</p>
                    <p>* Plan well and Rest frequently during work</p>
                    <p>* Get enough sleep</p>
                    <p>* Limit your salt sugar and fat intake</p>
                    <p>* Avoid alcohol, coffee and green tea</p>
                    <p>* Conserve your energy</p>
                    <p>* Sleep long at a stretch during nights</p>
                    <p>* Dont sleep too much on day or wake at nights</p>
                    <p>* Do make up, hair dry, grooming etc by sitting</p>
                    <p>* Wear clothes with zips on front when possible</p>
                    <p>* Take medications regularly on time</p>
                    <p>* Always carry inhalers with you</p>
                    <p>* Check your fluid intake to adequate</p>
                    <p>* Avoid overwork and physical stress</p>
                    <p>* Dont worry overthink or be eccentric</p>
                    <p>* Avoid tensions and mental stress</p>
                    <p>* Call doctor frequently at any cause or doubt</p>
                    <p>* All is well</p>
                    <p>* Relax your mind and calm down</p>
                    <p>* Kiss and hug your honey often</p>
                    <p>* Talk often to your honey</p>
                    <p>* Eat a specific yummy banana often</p>
                    <p>* Always provide 32c support to your honey</p>
                    <p>* Give desserts to your honey often to be eaten</p>
                    <p>* Be happy and strong</p>
                    <p>* Smile and laugh</p>
                    <p>* Always be positive</p>
                    <p>* Never give up hope</p>
                    <p>* Dont be clumsy and careless</p>
                    <p>* Always be concious</p>
                    <p>* Your health is the most important thing in this world</p>
                    <p>* Dont let emotions and fear stop you from doing what is necessary</p>
                    <p>* Dont worry about your honey</p>
                    <p>* Nothing bad will happen to him</p>
                    <p>* Your honey loves you most in this world</p>
                    <p>* Tell everything to him without hiding</p>
                    <p>* He is always with you</p>
                    <p>* Always remember this list</p>
                    <p>* Nothing bad is going to happen to you</p>
                    <p>* Take care</p>
                    <p>* I love you most</p>
                    <p>* See you my sweet sexy baby...</p>

                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>