<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/4.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >NAKED SHOWERS</h1>
                    <br />
                    <p>You opened me up right away part by part.. removed all the clothes i wore to protect myself from others.. removed all the dirt covered in me.. removed every single smoke and cloud around me.. removed all the negativity and sadness.. uncovered me to face every single truth.. took me close to yourself.. showered and scented me with all your positivity and love.. </p>
                    <p>now i m stripped naked.. cleansed showered and smelling nice .. in front of you... with the widest smile in my face... </p>
                    <p>watching you shower with me.. helping you cleanse yourself.. scenting you with my love.. massaging your bare naked body.. makin you feel and smell good.. and watchin you smile as i do.. </p>
                    <p>im here to love my queen.. and queen loves me the same as much... </p>
                    <p>I m yours and you re mine.. And no one can take that away from us.. </p>
                    <p>I love you and you love me...</p>
                    <p>And it shall last till the end of time... </p>
                    <p>Chianna my love... I love you like i ll love no one else...</p>
                    <p>In this fake world.. real is rare... And its even more rare.. that real meets real... And its rarer than rarest.. when they meet and love... And its undefinably rare... when they meet love care and understand... And its crazy when they jinx each other...</p>
                    <p>And what do we call it when they meet at the perfect time.. and say the perfect words.. and they needed each other..</p>
                    <p>And thats why i cherish you my girl... Coz you are real.. and so am i.. And i wont let go.. for my life...</p>
                    <p>I love you Chianna...</p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>