<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/62.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >ONE QUESTION</h1>
                    <br />
                    <p>Honey...</p>
                    <p>Im just going to ask you one question...</p>
                    <p>When i met you... You were going for surgery in a week...</p>
                    <p>It was predicted 40% life and 60% death...</p>
                    <p>You said it to me yourself...</p>
                    <p>And even if you live, from my research and the enquiries to doctors, i found out a hcm patient who underwent surgery wont live for more than 5 years...</p>
                    <p>You said you decided to marry sky years ago...</p>
                    <p>If he really loved you even half as much i love you, he would have come leaving everything else just to take care of you...</p>
                    <p>Or atleast call and do everything for you from where he is every day every night until you slept...</p>
                    <p>But... did he???</p>
                    <p>No...</p>
                    <p>I know because you spent all your spare time with me...</p>
                    <p>And what did i do???</p>
                    <p>I made you love...</p>
                    <p>I made you live...</p>
                    <p>And i made you feel all the love in this world doing everything i can from what you allowed me to do...</p>
                    <p>Just because i knew you were the one from the day one we met...</p>
                    <p>Just because i love you...</p>
                    <p>And when you said you love me and you will come to me, i went all in for you...</p>
                    <p>I know you lied about your picture...</p>
                    <p>And i believed it was because you worried about your health and condition and all other circumstances...</p>
                    <p>And you said it was true when i asked you another...</p>
                    <p>So i took it then to make you happy...</p>
                    <p>You said to me not to come there yet... And so i obliged because i dont want to make you worry and you know better about the place...</p>
                    <p>And i made you take care each day and made sure you did everything to get back to health from the mode of communication that you chose and in the time you could manage to talk...</p>
                    <p>Because i believed when you get better, you will finally reveal yourself to me and come to me to be together...</p>
                    <p>And you said that you will...</p>
                    <p>And all was going well...</p>
                    <p>Your bleeding count was dropping also...</p>
                    <p>And you took a vacation, just for me...</p>
                    <p>So i decided to give you a beautiful gift to you...</p>
                    <p>For your birthday...</p>
                    <p>And you said you loved it most...</p>
                    <p>And you were taking care everyday during vacation...</p>
                    <p>And then... came 2018...</p>
                    <p>And all chaos followed...</p>
                    <p>And we havent had a proper communication since that and we had the hardest of times since then...</p>
                    <p>This year is the best year of our lives even if it started this way...</p>
                    <p>Always remember and believe it honey...</p>
                    <p>Remember what we planned about this year...</p>
                    <p>We have to go through the toughest of times to earn the happiest times in life honey...</p>
                    <p>And so i believe... in the process...</p>
                    <p>I believe in our love...</p>
                    <p>I believe... in you honey...</p>
                    <p>I love you❤</p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>