<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/16.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >PICTURE TROUBLES</h1>
                    <br />
                    <p>I m not exactly sure Now why you dont send me your picture.. </p>
                    <p>You sent me your lips.. they were beautiful.. you Sent me your goergeous body from the back.. they were just as beautiful.. Then you sent the tulips.. I even kept em as wallpapers for days shuffling time to time.. </p>
                    <p>So i ll anyways be sad and cry over those pictures when you die.. or you ll cry over mine when i die.. After we just talked now.. Im just confused.. </p>
                    <p>Because i remember one day we talked.. i said you for first time.. "No matter how you look.. what color you are.. what you do or how you are.. i will love you from head to toe.. for my life.." i said..(not same words.. same meaning).. You said your heart pounded and leapt.. i was afraid so never much mentioned again.. </p>
                    <p>If you ever thought that your face was ugly or seeing it will make me think again about you or reduce my love for you.. you are very sadly mistaken.. </p>
                    <p>I utterly love you from head to toe.. As you said.. Im not the other guys.. Iam a man.. who loves his woman no matter what.. You.. are my woman.. So if it was your thought that your face doesnt look good and thats what is stopping you from sending a picture.. remember.. you are the most beautiful person in this world for me.. inside and outside.., </p>
                    <p>Chianna.. i will only love you more after seeing your face.. and i did not love you by imagining you as a sexy beautiful goddess.. Thats not me.. I m not that.. For me, self confidence and honesty are the best make up one can ever put for oneself.. Nothing else can make someone more beautiful.. </p>
                    <p>Nothing else can match that.. Not even a miss universe.. And.. no matter what.. you are the most beautiful woman for me in this world.. I have a lot of ugly pictures of myself if you wanna go through them.. i will not mind sharing them with you.. </p>
                    <p>Never be afraid to show yourself to this world.. especially to me.. Never be worried that that how you look will change my feelings to you.. I will only love you more Chianna.. Only more.. and more... </p>
                    <p>I love you and i will only love you more..❤ </p>
                    <p>Take care my love.. ❤❤❤ </p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>