<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/28.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >PLEASURE</h1>
                    <br />
                    <p>I come to your office room.. You seem to be busy reading something.. You look up and see me.. books open in your hands.. You look at me.. I look at you.. And we smile.. And you slowly put the book aside on the table.. and i lock the door.. </p>
                    <p>I walk close to you around the table.. I walk behind your chair as you sit on it and look aroud to look at me.. I come to your back.. and kiss you on the back of the neck moving aside your hair.. And i walk around to your front.. to sit on the table facing you.. </p>
                    <p>And i pull your chair to between my legs as you blush and smile.. And you stand up to me as the chair reaches close by.. I hold your face with my hands as you blush and i smile at you.. and i kiss you deep with such passion like i never kissed you before.. And you kiss back all the same.. </p>
                    <p>I undo your blazers.. undo mine.. unbutton your shirt.. takes off mine.. strips your bra and takes them off as we kiss our with passion deep long hard and run our hands through each others body.. </p>
                    <p>Then.. i unhook your skirt and strip your underwear.. and makes you sit on your chair.. i spread your legs.. wide to the sides.. i go in between them.. and i take your right leg in my hands.. </p>
                    <p>I undo your heels.. on left and right.. and kiss your toes as i look at you.. i move my hands through your legs slowly and gently further up.. i plant my kisses on your legs.. at different parts as i move my hands up.. i massage your legs with my hands and then wet them with my lips.. </p>
                    <p>My hands reach the knees and starts moving up.. and i sit down between under your thighs.. i feathertouch your thighs.. and gently massage it.. and then moves up your hips navel and your breasts.. i screw your nipples with 2 fingers.. as they rise up tight and hard.. i then play with your soft spongy boobs.. as you bite your lips and smile with pleasure.. and i keep smiling at you as you smile at me.. </p>
                    <p>I then stand up to kiss you again.. hands on your naked body.. i kiss your forehead.. kiss your cheeks.. and then lick and kiss your lips.. and i move down to kiss your neck deep and long as i hold your naked body in my hands.. i move your hairs to the back.. and moves down as i plant kisses everywhere.. i lick and suck your hard and solid nipples and breathe on those beautiful boobs.. i move down to kiss deep in your navel and lick it deep.. and you shrink your stomach as i kiss.. </p>
                    <p>I then lick down to underneath.. and i feel the top of your pussy with my hands and rub em.. i then rub the opening clit of your pussy as it starts to open up.. i then rub gently and slowly near your sensitive clit.. as i lick from deep under the pussy and paints up to the clit with my tongue.. slow steady and hard.. i then swiftly lick across the opening clit as i start rubbing the top of your pussy with my hands.. i spit on your pussy and lick it off wet and slowly circles it.. then i tonguetip your pussy opening 3 4 times.. and then stops to look at you.. and keeps rubbing as i look at you and smiles.. </p>
                    <p>You push my heads down to your pussy fiercely.. and i oblige.. and put my wet tongue deep into your pussy.. i lick deep and fast inside your pussy.. as i rub on top of it.. i twist and turn my tongue inside the pussy as i move it left right and deep..</p>
                    <p>I keep rubbing hard and fast on top of your pussy and i can hear you starting to moan.. i lick harder and faster and sinks my tongue deep inside.. You are moaning and gasping holding on your chair to prevent falling off as i lick you hard and deep in your pussy....Ȯ</p>
                    <p>I continue licking even after you come.. And your moan grows weak and you gasp... your body shivers off the pleasure.. and your grip on the chair loosen as you collapse onto it.. and i m still licking your wet pussy..ɴ</p>
                    <p>Then i lay you down on the office table and strips my pants and underwear.. and starts to grind on you... with my hard dick.. on the suface of the clit.. up and down.. gentle at first.. and rub harder and faster in time.. and keeps on grinding on you as you laugh and gasp and moan with pleasure.. eyes half open half closed.. </p>
                    <p>Then as you moan and gasp holding on the table tight as i grind fast.. you start to shiver... and i then suddenly put my hard dick in your wet pussy.. and go as deep as it gets.. slowly... pulls you.. hands on thighs.. and positions myself.. and start pumping up and downnnn.... mmm shitttttttt... aahhhhh... hmmmmmm.... fuckkkkkk... hmmmmmm... shitttttttt.. aahhhhhhhh.. love you...... mmmmm.... fuck meee... ahhhh... fuckkkkkkk...</p>
                    <p>I start pumping faster and harder.. pushing me into you and pulling you into mee .. aahhhhh.. hmmmmm... shitttttttttt.. Youre almost ready again... im almost ready... i go harder and faster deeep in.. hmmm shittttt... aaahhhh.... And i pump faster and harder and almost there and you start moaning and shivering hard.. youre sweating.. and trembling off pleasure.. half moans.. and gasping hard... eyeballs rolling as youre almost coming... </p>
                    <p>And as i pump i shoot it out inside.... aahhhhh... and you come too.... hmmmmm shittttttt ahhhh... and we slow downnn.... hmmm...mmm... Its a beautiful feel as i look at you and you look at me and say.. "i love you krishnan.." and i smile and pick you up from the table.. and hold your face... and say.. "youre mine chianna..." and kiss you.. and hugs your naked sweating body with mine.. as we smile wide.. and close our eyes weakly... </p>
                    <p>Im still inside you and we keep hugging long.. and kiss.. we tightly hold on to each other feeling the heat.. inside and outside.. as i slowly pumps the last up and down in your wet and open pussy.. I slowly remove my dick from your pussy.. and lifts you up from the table.. as you hug on to me.. legs to my sides.. and we both wash ourselves in the restroom.. i say.. "Hon.. I hope there s a shower in the restroom.."  </p>
                    <p>And i walk on.. hugging and holding you.. to the inside.. Naked showers after sex is another lovely feeling.. Cooling the heat down and cleaning each other out.. as we stay under it for long playing with each others body.. amd laughing.. and rubbing each other.. and teasing.. hugging and kissing each other.. We may even fuck once more for all to say..</p>
                    <p>But its those smiles.. laughs and hugs and kisses that are most beautiful.. after the pleasuring and sweating sex we had... I gently stroke the wet hair strands falling to your face with my fingers to the sides.. runs my hands through your cheeks and chin.. and neck and breasts.. and navel.. and hold your hip and moves close to you.. and kisses you deep with love and passion..</p>
                    <p>And the other hand around your back as i pull you to me and kiss harder.. You're beautiful my love.. And the most lovable thing in this world.. I love you sweetheart.. ❤ I hope this makes up for last night.. </p>
                    <p>Love you hon ❤ </p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>