<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/52.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >STAY STRONG</h1>
                    <br />
                    <p>Honey...</p>
                    <p>Now dont get too emotional reading this shit...</p>
                    <p>You have had all the sadness in life and so have i...</p>
                    <p>There is a reason why we happened to each other...</p>
                    <p>There is a reason why we are this strong to endure all the tough times in life...</p>
                    <p>There is a reason for every sadness to have happened to us like it happened...</p>
                    <p>Its okay... it cant be changed... and dont meddle on it now...</p>
                    <p>You are here... still strong...</p>
                    <p>Dont get fucking emotional you clumsy babe...</p>
                    <p>Honey... always remember... you are strong...</p>
                    <p>This is like the el clasico honey...</p>
                    <p>It was 0 0 when we started...</p>
                    <p>Once we started you cancelled surgery...</p>
                    <p>1-0 to us...</p>
                    <p>Then after a while all the confusions arose and sickness creeped up... 1-1...</p>
                    <p>Then after november we became super positive and taking very much care... and each day was going well in december... 2-1 for us...</p>
                    <p>And then this happened... an unexpected substitution of james rodriguez and that disturbed everything and we conceded as this year started... 2-2...</p>
                    <p>And its a deadlock of a tie now... But we have messi honey... we have that magic of love... and always remember that 92nd minute screamer to the left corner of the post by the messiah my love... remember the way he ran and just removed his shirt and hoisted it up honey... always remember our magic... that is what makes us this strong...</p>
                    <p>Always remember the 4 honey... all is well... relax your mind... keep calm and cool honey... there is happiness in the midst of every sadness honey... just like there is light that can be found amidst every darkness when one chooses to turn it on... we are our happiness to each other honey... always remember im here...</p>
                    <p>Remember albus dumbledore... remember lionel messi... remember all the gods... remember me... remember this love... remember that im always with you honey... remember that... this magic... this unextinguishable fire between us will never fade... it is strong honey... just like you are...</p>
                    <p>Always remember and believe this... this year is the best year of our lives honey... amidst all this shit... stay strong... be positive... we are strong my love... the strongest bond...</p>
                    <p>Every single day i am praying honey... and he says... all is well... he says he is there with us all the way... he says that always keep fighting... keep believing... Honey... stay positive and stay strong... Nothing bad is going to happen to you honey...</p>
                    <p>Always remember...</p>
                    <p>The strongest of bonds... be it friendship... love... or trust... or anything else is labelled so because they have to go through the toughest times...</p>
                    <p>The iron steel needs to be heated up to be a sword honey...</p>
                    <p>The gold needs to be moulded...</p>
                    <p>The diamond needs to be carved...</p>
                    <p>The surface gets sand-papered to make it fine...</p>
                    <p>We have to go through the toughest times to earn the happiest honey...</p>
                    <p>Lets be positive... and stay strong together... hand to hand...</p>
                    <p>All is well honey...</p>
                    <p>I have a gift for you... Its the cover image of this letter...</p>
                    <p>See the timing of this honey... The titanic is being rebuilt... after more than a 100 years... and its happening this year... this exact year of all years... and this one... will never sink honey... just like us... it will never sink... it will be as beautiful as it was... but stronger and smarter honey... and we will get ashore... together... to our life...</p>
                    <p>Stay strong my love... All is well... Reply when you read this... And always remember that im here for you whenever you need me...</p>
                    <p>Just mail me when you can honey... We are strong...
                    <p>I Love You❤</p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>