<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/45.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >THE ARCHER OF LIFE</h1>
                    <br />
                    <p>Honey...</p>
                    <p>You do archery classes at times.... You know what archery is all about... You are good at it... And your archery teacher is a sexy hot woman...</p>
                    <p>There are 4 components in archery... The archer.... the bow.... the arrow... and the target.... Each of these 4 are equally important for each archery attempt to be successful....</p>
                    <p>The bow-arm has to be hard and strong....  The bow-string has to be extensively elastic... strong... dense... and durable.... The arrow has to be straight smooth and crisp.... The arrow-head has to be sharp and focused.... The arrow-tail has to be comfy and broad enough.... And then there is the archer....  Consider and believe in your archer always....  Coz you the archer know what to do with the arrow....</p>
                    <p>Just like that.... Consider this.....</p>
                    <p>This archery is our life.... The bow-arm is our body.... The bow-string is our soul.... The arrow is our brain.... The arrow-head is our mind.... The arrow-tail is our heart....</p>
                    <p>Our body needs to be fit hard and strong like a bow-arm...</p>
                    <p>Our soul needs to be extensively durable flexiblestrong and dense like a bow-string...</p>
                    <p>Our brain needs to be compact crisp and smooth like an arrow...</p>
                    <p>Our mind needs to be pinpoint sharp and focused like an arrow-head...</p>
                    <p>Our heart needs to be broad and comfy like an arrow-tail...</p>
                    <p>The archer who shoots the arrow is us.. our choices....</p>
                    <p>Yes there is god... fate... destiny... and all in life... But they are the external factors.... like the wind speed in archery....</p>
                    <p>What matters most in our life is our choices...  We are the archers of our life...</p>
                    <p>My love....</p>
                    <p>Our body is fit and strong... Yes.. you will be healthy my love... Im here for you...</p>
                    <p>Our souls have endured this much pain like a string pulled back so far... It is so strong and now it has each others support to make it stronger...</p>
                    <p>Our brains are crisp and smooth... We are smart and efficient...</p>
                    <p>Our minds are so sharp... I will focus so clearly coz you will be with me...</p>
                    <p>Our hearts are so broad that we have always considered others happiness more... And its so comfortable and lovable that we love each other this much from this far...</p>
                    <p>Now our bows are all set and loaded...</p>
                    <p>We are the archers of our lives...</p>
                    <p>We both are so positive now coz we have each other...</p>
                    <p>The tension of our bow-strings are so much now coz they both have pulled back to the farthest...  Our souls have endured so much pain... But now we have each other to make us stronger... So lets endure all this together... Just for a bit longer... Lets hold ourselves together...</p>
                    <p>Your health... And my career... We just need to get better from what we are now... And we will be ready... And we will be together... We will be the happiest and strongest... We will focus and set sail of our arrows together and then they will go far and long...</p>
                    <p>All the tensions in our souls will be gone...</p>
                    <p>All the pain and sadness will disappear...</p>
                    <p>We on our arrows will together go far and long through beautiful times and places...</p>
                    <p>Our hearts will be together and inseparable...</p>
                    <p>We both have known so much pain and sadness...  Now lets be happy my love...</p>
                    <p>I will make you the happiest woman ever... And i will be the happiest man coz of that...</p>
                    <p>To see you smile...  To see you blush...</p>
                    <p>To see you laugh... For your love... All day all night... I will do anything for this... Anything to be with you... All my life...</p>
                    <p>Stay strong and endure everything... Get better... Focus... And be happy...</p>
                    <p>We will have the most beautiful times together... Just like we dream each day and night...</p>
                    <p>Stay strong... Be calm... Persist and be positive...</p>
                    <p>Its all love... happiness... and harmony in our lives from now on my love...</p>
                    <p>We have a long way to go together...</p>
                    <p>So much beautiful memories to make with each other...</p>
                    <p>So much to plan work and achieve together...</p>
                    <p>So much happiness and love to give to each other and spread to all others...</p>
                    <p>We will do it all my love...</p>
                    <p>No fear... Coz im here... Always... Just for you....</p>
                    <p>No matter what happens... Dont worry....</p>
                    <p>Whatever comes on the way... Dont be scared or negative...</p>
                    <p>All is well....</p>
                    <p>Relax your mind...</p>
                    <p>Im always there for you... To love you... To make you smile... To make you laugh... To make you moan... To make you care... To make you happy... To make you strong... To make you healthy... To make you love... To make you dream...</p>
                    <p>To make you calm... To make you positive... To make you focus... To make you do everything... I love you most in this world... Anything for you my love...</p>
                    <p>Smile for me... And be strong and happy...</p>
                    <p>Nothing bad will happen to you...</p>
                    <p>You will be strong... You will be better...</p>
                    <p>And i will come and make you mine...</p>
                    <p>Im yours and youre mine... Always and forever...</p>
                    <p>I love you honey...</p>
                    <p>Dream... Hope... Be happy... Love... Laugh... And work for your health...</p>
                    <p>Lets have a happy and long life together my love...</p>
                    <p>I love you... ❤</p>
                    <p>Good morning honey...</p>
                    <p>Have a great day... ❤</p>


                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>