<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/30.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >THE FOUR</h1>
                    <br />
                    <p>Chianna..</p>
                    <p>Whatever the situation that comes in your life..</p>
                    <p>However tough it may seem...</p>
                    <p>Just remember the four things i told you..</p>
                    <p>1. All is well.. You are strong.. the strongest soul.. you have to remind that to yourself time to time.. All is well.. Dont worry... ALL IS WELL..</p>
                    <p>2. Relax your mind.. Chaos and worries are always bad.. it hinders from focusing and doing what is required.. So.. remind yourself that all is well.. and relaxxxxxxxx yourrrrr mindddddd..... calmmmmmmm yourselfff.... all is well.. just calllmmm....</p>
                    <p>3. Search for happiness.. Happiness is something that can always be found around and inside you.. Choose the most powerful source of happinesss... and fill your soul with that happiness... it doesnt matter what you choose.. just make sure it makes you most happy... be it a memory.. a kiss.. a poem.. a thing.. a flower..  or your 32c boobs.. whatever it is.. fill the happiness you get from it to your soul..</p>
                    <p>4. Smile to show your strength.. Chianna... Now.. you are happy.. you are strong... you should always be able to express your strength.. to yourself.. and to others... your showing makes you and others more strong... SMILE IS THE OFFICIAL LOGO OF HAPPINESS AND STRENGTH... so when you are happy and strong.. Smile to yourself.. smile to others.. it will light up yourself.. and others and the whole atmosphere... So.. always.. whatever be the situation.. keep your smile intact.. for it means you are strong..</p>
                    <p>Now you are on the best possible state of mind to deal with anything that comes your way..</p>
                    <p>Think assess and act.. my love..</p>
                    <p>You can do anything..</p>
                    <p>You can fight anything..</p>
                    <p>You can win over anything..</p>
                    <p>Keep strong.. keep  believing,, keep smiling..</p>
                    <p>YOU WILL WIN...</p>
                    <p>I LOVE YOU  ❤</p>


                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>