<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/50.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >THE IDLE MIND</h1>
                    <br />
                    <p>Honey..,</p>
                    <p>Proverbs are true and golden... "An idle mind is a devil's workshop" they say... Its true...</p>
                    <p>Look at what happened today. I asked you once for what all to do during we chat. I said about watching movies and sports. Then we talked about dogs. And when it was getting off, you put something core negative out of nowhere.</p>
                    <p>You were thinking of what to think about with your idle mind, and you ended up thinking about the negative things. Honey, always understand that mind is the most powerful thing that any human can ever have. Use it well and you can do wonders. Its all in the mind.</p>
                    <p>We have had a lot of negative things as a streak happening in our lives. So its natural that our minds may tend to be negative. But i have told you srveral times. I endure. My life has been a mashup of failures, loneliness, disappointments, betrayals, being the laughing stock many times, always left behind and much more. Still, i have craved for nothing else but happiness. That is why even when i didnt have a job or respect among the world around me, i was still hopeful. Because i have my mind. A positive mind still razor sharp. What i lack is focus, hardwork and practice. The routine. That is because i put aside everything else when i was sad and chose just to be happy. And so, i did not work or study. That was a choice i made that resulted in the present state of my career. Slow in development.</p>
                    <p>But then i met you. Things just turned upside down. And i was the happiest by default from day 1 with you. So i didnot need to do anything else for being happy. Then i could focus on my career and i started doing so. And then you said you loved me too. After each day i realised how perfect you are for me in every way. That made me happier each day and made me want to do everything in my power for making you happy, healthy and loved, and i did. And still doing.</p>
                    <p>That is why i can easily promise you the happiest life when you come to me. I love you most in this world. And you make me the best of myself by loving me. Thats what we are for each other. We complete each other. We will be the best when we are together.</p>
                    <p>We never thought we would meet such a person in our life that would be everything that we ever wished for. That is why we were both astonished at the time we met each other. You still didnt believe because you have a rational mind and you had been broken badly in the past and it resulted in many bad things that followed in your life.</p>
                    <p>But understand this honey, I love you. And my love for you is more than anything that anyone has felt for his love. Because we saved each other at the most unexpected of times and circumstances drastically. I realise how beautiful this is and i want to make this happen and live the happiest life with you.</p>
                    <p>I love you. I told you that this December would be the start of a flow all good things to come in our lives. And it has started. This December is the transition period of our lives where momentum shifts from negative to positive. And it is happening my love. Everything in our life is changing by uprooting all negatives and planting all positives. And it is only going to grow bigger and bigger.</p>
                    <p>So please stop thinking negative. You maybe so used to finding a roadblock whenever things seem to go well. Same was for me. But honey, its not the same now. That time has past. You have me and i have you. And that changes everything. I can understand that. This time what happens good will stay for good. So never think otherwise okay. Nothing bad is gonna happen to us anymore. All is well my love.</p>
                    <p>Dont think negative just like that out of the blue. Be logical. Im with you whenever you need me. And you dont have to worry about anything my love. Just take care of your health and focus on taking rest and getting better. Talk to me whatever you feel like and whenever you like to. I m here  for you always. Dont worry hon. Look at you 103 days ago and look at you now. Look at your mindset also. That change tells you something. And it is only going to get better and better from here my love.</p>
                    <p>So keep your mind as positive. The last mile is the hardest in every circuit or race course or whatever it is that we are on. We are on that last mile now honey. Keep your smile upright because im here by your side holding your hands as we cross that last mile together. And on the other side, is our life. Lets make it there my love. We will do it.</p>
                    <p>I love you ❤</p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>