<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/49.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >THE REASON</h1>
                    <br />
                    <p>Honey...,</p>
                    <p>Every single thing that happens in this universe... from the big bang till this very second... it all happens due to one or more reasons... and they turn out to be the reasons for further events...</p>
                    <p>Similarly... Every single thing that we do and that happens to us is because of a reason... and it is the reason for further things that happens to us...</p>
                    <p>This is how life works...</p>
                    <p>Before.. you were sick, sad, lonely and broken...</p>
                    <p>And 102 days ago... You met me.. That happened for a reason...</p>
                    <p>Similarly... i was a failure sad lonely and aimless...</p>
                    <p>And I met you... That happened for a reason...</p>
                    <p>We met each other because we were on omegle... at the same time with the same feeling... That happened because of all the past events that happened to us...</p>
                    <p>And then... we met...</p>
                    <p>Now we both are not sad or lonely or  aimless or broken...</p>
                    <p>You are still sick and im still a failure.. That takes time to turn around...</p>
                    <p>But everything else in our lives have turned around...</p>
                    <p>We are the happiest now.. we love each other most.. we have decided to be each others life partner for the rest of our lives..</p>
                    <p>So we have a reason now.. for you to get healthy and for me to be focused and be successful...</p>
                    <p>And we have each other.. the best companions for support... with all positivity...</p>
                    <p>You gave me a schedule.. guided me.. still guiding me... making me focused and making me have a goal in life... by loving me...</p>
                    <p>And im making you happiest.. making you loved and wanted.. making you positive.. hopeful a and never making you lonely for even a little time... by loving you..</p>
                    <p>We complete each other...</p>
                    <p>We make each other dream of the lives that we ever wished for... and it will happen...</p>
                    <p>We have to work for it.. you on your health and me on my career...</p>
                    <p>That are the only things that keeps us apart now...</p>
                    <p>We are close my love...</p>
                    <p>You are getting healthier by the day.. and im getting focused and working hard for success by the day...</p>
                    <p>All is well... Believe in the process.. Everything will happen eventually.. Dont worry or think about anything else.. Its all positive from here on... We are doing it.. we will keep doing it.. and we will achieve everything that we planned to achieve...</p>
                    <p>I love you honey.. we will do it...</p>
                    <p>You told me everything that you had to tell and im turned to the right direction now.. and you are here for me every day and night.. thats all i need to be focused and boosted up to do all the things right..</p>
                    <p>And im here for you.. starting with waking you up.. till kissing you a goodnight.. whenever you are free.. so no worries.. you will either be busy or you will be sleeping or  you will be with me.. and i will never make you stressed or worry about anything.. i will dilute and brush off all the worries that comes to your thoughts and minds... i will uproot and wipeout all the negativity in your life... and i will make you the happiest woman in this world...</p>
                    <p>And in case im occupied or i dont reply in time.. i will 99% tell beforehand or else network will be bad or i will be sleeping.. so dont worry my love.. all is well.. always..</p>
                    <p>Just remember the four..</p>
                    <p>And now.. on such times when you miss me.. i have made you a website.. password protected.. and one look at it will make you the happiest.. i love you my queen.. i will do anything for you...</p>
                    <p>Always be positive my love..</p>
                    <p>Every single thing happens due to and for a reason...</p>
                    <p>So now that all the negative reasons are wiped out from our lives..</p>
                    <p>Nothing bad is gonna happens to us..</p>
                    <p>Have faith my love... Believe it to the core deep inside your heart..</p>
                    <p>God has made us suffer enough.. now he has wiped it all off by giving us each other.. and everything and every single moment that happens in our lives will be the best and happiest.. and it will go on and on for long..</p>
                    <p>I love you honey...</p>
                    <p>Take care always..</p>
                    <p>Dont give any bad thing a reason to come to you.. i will do the same..</p>
                    <p>And now all bad things have gone far from us never to come back again...</p>
                    <p>I Love You My Queen..</p>
                    <p>All is well..</p>
                    <p>Be happy and smile my love..</p>
                    <p>We have each other for life..</p>
                    <p>I love you..  ❤</p>


                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>