<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/55.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >THIS IS LIFE</h1>
                    <br />
                    <p>Honey...</p>
                    <p>Words cannot express how much you mean to me and how special you are to me...</p>
                    <p>You are my world... my everything... I love you...</p>
                    <p>We cant dwell on our past and change it honey...</p>
                    <p>The only thing we can create is our future...</p>
                    <p>And i know how much i mean to you... This recent incident says much about it...</p>
                    <p>We love each other like this knowing everything about each other... All the imperfections, the failures, the sickness and all... This is not built on infatuation, lust or sympathy honey... This is true love...</p>
                    <p>And this love is turning our lives upside down... Making us the strongest and the happiest... We are everything that we wished to have as a partner for life to each other honey... And finding each other at this point of our life just made it ever more special...</p>
                    <p>Honey... I want you to have all the love and happiness in the world just like you ever wished for... And i know i can give it to you because i am doing it now...</p>
                    <p>You need this love more than anyone else now honey... That is why i am keeping on saying it...</p>
                    <p>I miss you so much now...</p>
                    <p>Its been days since we talked on a routine and today when you came back we had so much to tell and cry to each other...</p>
                    <p>Honey... This kind of love and care and affection cannot be got from everyone... And once you get it, you cannot settle to anything else...</p>
                    <p>We love each other like crazy... And this needs to happen because both of us will never get this kind of a perfect match and a perfect love that we ever wished for with anyone else...</p>
                    <p>The timing of us meeting each other and being there for each other adds to the depth of this honey...</p>
                    <p>We have hard choices to make this happen, i know that... I m ready for it from the beginning because i live for this kind of love more than anything else...</p>
                    <p>Love is an adventure and not a childs play honey... Only those who dare to fight for it and live are fit to love and to be loved... We are a team my love... We are the strongest together...</p>
                    <p>I want us to live that life together that we kept on dreaming and wishing and talking about ever since we met...</p>
                    <p>And considering all that we have endured to get here... we need that sheer love and happiness more than anything in our life honey...</p>
                    <p>Every single thing that we love doing has our memories etched on to it together...</p>
                    <p>From morning kisses to brushing, showering, eating, telling stories, teasing each other, hugs and kisses, and romance and more intimacy, all of those beautiful flowers and favorite songs, those special moments together that we have spent with each other, those stories we told each other, those special letters, poems and gifts and those beautiful voiceclips and those dinners, and the desserts, and until the goodnight kiss, asking funny deep and weird questions to each other, sharing our happy and sad memories, hugging and crying with each other, consoling and calming each other at tough times, sharing those laughs, motivating and strengthening each other, missing each other like fuck during day and night whether at work or somewhere else, those magical jinxes, those pure emotions and feelings, that love, that extreme care, affection and understanding,  and those beautiful dreams... and on and on...</p>
                    <p>We are living a fairytale honey... A beautiful love story... The most beautiful... And i dont think there is a need to tell anything more to describe how beautiful this is...</p>
                    <p>This love... this strength... this feelings and emotions... this happiness and sheer pleasure... this bliss... this feeling of security and being loved... this feeling of being on top of the world with each other... this feeling of having someone who understands loves cares and sacrifices things for us just like we ever wished for... All these and much more are the things that we are experiencing now honey... We are so lucky to have that... And this doesnt happen to most of this world honey... We are that lucky...</p>
                    <p>And we fell in love by chance... not due to want or need... And this kind of love is what is worth fighting for and living for honey...</p>
                    <p>And i want this to happen... I want us to be that happiest couple honey... and love, laugh and live long together because thats what life is all about, more than anything else...</p>
                    <p>I Love You❤</p>

                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>