<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/41.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >TOGETHER</h1>
                    <br />
                    <p>I miss you honey.. miss you so much...</p>
                    <p>You will get better as you wake up...</p>
                    <p>Dont fear...</p>
                    <p>Whatever is happening to you, it will pass...</p>
                    <p>It will not last...</p>
                    <p>You will overcome it...</p>
                    <p>You have me...</p>
                    <p>Whatever has happened and is happening to me will change...</p>
                    <p>I will be the best of myself...</p>
                    <p>Because i have you...</p>
                    <p>We will fight it out and overcome it together my love...</p>
                    <p>We will work for it every day every night...</p>
                    <p>Your health and my failures in our lives...</p>
                    <p>Your temper and my laziness...</p>
                    <p>And all the negativities we have in ourselves...</p>
                    <p>We will get past it my love...</p>
                    <p>We will do it together...</p>
                    <p>We will get past it coz we have each other to show it to... to live and love and trust and believe in...</p>
                    <p>I will show it to you that i can...</p>
                    <p>You have to show it to me that you can...</p>
                    <p>We will do it honey....</p>
                    <p>Keep believing.. keep working for it... keep trusting... and keep smiling....</p>
                    <p>I love you most in this world....</p>
                    <p>I will give you all the love that you ever deserved...prayed for... needed... and wanted to have.... Anything for you honey...</p>
                    <p>You give me all the love... the motivation... the spirit... the care... and everything that i prayed for and needed...</p>
                    <p>I love you honey....</p>
                    <p>Keep believing... keep fighting....</p>
                    <p>Work on your health...</p>
                    <p>Be concious ...</p>
                    <p>Rest whenever you can....</p>
                    <p>Take care...</p>
                    <p>Be happy...</p>
                    <p>Im always here...</p>
                    <p>I love you most in this world...</p>
                    <p>Keep dreaming... keep believing... keep working for your health....</p>
                    <p>Dont falter whatever comes in your way... Nothing will happen... It will pass...</p>
                    <p>We will have the best of the times.... the happiest life for long... and together....</p>
                    <p>We will overcome ourselves from this together honey....</p>
                    <p>I love you....</p>
                    <p>We will do it...</p>
                    <p>Good morning and have a great day....</p>
                    <p>Mail me when you wake up and read this...</p>
                    <p>I love you darling....</p>
                    <p>See you... ❤</p>

                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>