<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/46.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >TOUGH TIMES</h1>
                    <br />
                    <p>My love,</p>
                    <p>You are my world.</p>
                    <p>We filled each others life with love and happiness when we were alone, depressed, hopeless and tired.  When we thought there was no one in this world for us just the way we needed, we met each other. And it transformed our lives. We complete each other.</p>
                    <p>I love you like i have never loved anyone. I care for you, worry and feel responsible for you more than anyone or anything. I feel the happiest, most loved and strong and positive and all other good things when I m with you. And I feel that we will have the best of times once we are together.</p>
                    <p>Just imagine doing the things that we think talk and dream with each other. There is nothing more beautiful and lovely I can imagine in our lives than that. And that is living a life for me.  To live it just the way we dreamt and hoped with the one we love.  There is nothing more beautiful than that. That is what there is to live for.</p>
                    <p>I love you honey. I cant express it effectively at times because our story is something different to the general love stories. And these are tough times and its not easy always.</p>
                    <p>And when i miss you its never easy. We are having a dramatic turnaround in our lives.  And in your case the margin for mistakes is very less. To make this happen.. for us to be together.. you have to take care of yourself well.. you have to be concious n cautious always..  So dont be so lavish about taking risks and being clumsy and careless about things..</p>
                    <p>First of all i dont know what is the level of the risk that you take for not getting caught.  I just want to say that sending a voicemail is not worth the risk of getting caught and resultantly getting more of attention and observation for yourself. We dont want that. We dont want any slip ups now because we are planning big.  And we dont want to make mistakes now which may disturb our plan in any way. So please take care on your privacy. Be it phone, mails, voicemails, your face-reading, expressions or behaviour, make sure you dont leak any thing out in any way. I m always here with you for the technical and mental assitance for this. Lets do this in that efficient and perfect way you answer and get 100 in your tests.</p>
                    <p>Your health is always paramount. I am always here with you. Im here to love you, to take care of you, to calm you down, to make you happy, to make you hopeful and positive, to make you believe, to make you dream and to make you do all the things to live your dreams. So take care of your health constantly. No mistakes there also. Your food, schedule, fluids, medicine, rest and sleep physically; And your calmness, positivity, happiness, love and care and belief and hope mentally; Make sure that you take care of both these aspects efficiently. We are doing this together. I m always with you. We are the best team in this world. And we will pull this off in the most efficient way together.</p>
                    <p>I want you to communicate with me with an open mouth about all the things. I do the same to you honey. Lets continue doing this the best way together. Lets show ourselves how effective we can be when we are together in life. I really believe we will be the best.</p>
                    <p>You are the love of my life.  Im yours always. I love you most in this world. And I am the happiest knowing that you love me all the same.</p>
                    <p>I miss you so much now. And I want you to know that however I talk things at times when I blabber, all I mean to say and want you to do is to take care, work on your health, be healthy and come to me.  I m sorry for whatever i tell that makes you feel uncomfortable or feel bad. I want you to be happy and healthy because that is what matters most now. I dont want anything else honey. I just want to live my life with you by my side. I believe we will be the happiest together.</p>
                    <p>These are tough times that we have to go through to earn the best times of our lives.</p>
                    <p>And lets love hope dream believe be positive and work smart and together to make this happen.</p>
                    <p>I love you honey ❤</p>


                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>