<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/27.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >UNNECESSARY STRESS</h1>
                    <br />
                    <p>I wrote this for you last night...</p>
                    <p>Honey... </p>
                    <p>I think you are putting yourself through a lot of unnecessary stress.. and hurt yourself at times.. each day each night.. all because of your stubbornness stupidity and emotional spontaneity.. You are simply not taking adequate care of yourself that you require now.. </p>
                    <p>You know i love you most in this world.. And you love me too.. More than that We are soulmates.. And all of this will never change no matter what.. And we are being there for each other.. So many things are mutually understood without even telling..</p>
                    <p>I dont assume anything about you. I dont take you for granted. I believe and live by the words you say. I dont assume a bit more or less or different.. even when i knew later at times you were lying., i believed what you said until then.. still believe whatever you say.. And everything about us just stays between us.. not another soul knows about this.. I wont break your faith.. So understand that im trustworthy.. </p>
                    <p>Also understand that whatever you say.. even the worst of it wont break me.. coz im happy to have you in my life in whatever way i can have you with me.. so dont worry about me breaking myself apart or leaving you when you tell things to me.. Whatever you hide. Or lie. Stresses you. It makes you think.. and that is not good for you.. </p>
                    <p>And  also.. youre beautiful.. charming.. wild.. romantic and a perfect combo of everything that i looked for in a woman, both inside and outside.. At the same time.. we are both smart and practical.. </p>
                    <p>But if something happens to you.. Understand that something will happen to me too.. As you love me.. and i love you.. understand that we need each other to be at our best.. and we need to be open and fully honest with each other.. i am doing my part well..So dont worry about anything my love.. Hug me.. lean to me .. close your eyes.. cry to me.. and say whatever you want to say to me... anything at all.. </p>
                    <p>Dont hold on to this stubbornness and spontaneity to me like you were keeping your eyes closed at me last night.. and breaking the vase.. and all.. Im not the one to whom you should show off all this.. coz.. no matter what.. im yours and you are mine.. and we are.. and will be.. a team.. always.. </p>
                    <p>I believe that whatever you confess to me will make you that much lighter and stress free.. and it will make you feel better and healthy.. and i ll be okay with that too.. So dont worry.. Im never forcing anything.. Or assuming anything.. Im keeping on saying this coz i love you.. and i dont know what there is that you havent told me.. I dont know.. And im never forcing you to tell.. </p>
                    <p>ONLY THING IM SAYING IS IF YOU HAVENT TOLD ME SOMETHING.. JUST DONT WORRY ABOUT IT.. COZ IT DOESNT MATTER.. ❤ </p>
                    <p>I love you.. I love you always.. and I will love you no matter what..</p>
                    <p>I Love You Hon ❤ </p>
                    <p>I love you Chianna ❤ </p>
                    <p>Take care ❤ </p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>