<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/53.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >WHEN WE MISS EACH OTHER</h1>
                    <br />
                    <p>Honey...</p>
                    <p>I love you most in this world... And everytime youre not around... I miss you...</p>
                    <p>But even though that happens most times for me, its just as hard to experience it every time...</p>
                    <p>And this increases when it is the usual time of you coming or the time when you previously said you ll come... And then when youre not here yet... There is that constant tinge inside me until i hear from you again...</p>
                    <p>Every time i think about it or any thoughts come related to it, it grows... Everytime i worry, it grows... Every time honey... Even when i believe all is well that sense of missing you constantly tinges me inside until you come back next time... And it turns into more things as time passes and thoughts grow...</p>
                    <p>That is love honey... If you feel the same way about it, then that should be attended to honey... Thats why i dont make you miss me whenever i can... I dont want you to worry or get tinged inside...</p>
                    <p>Even when we are busy... Even when we are surrounded by people... Even when its the people we know and like... When you still have that slight and constant tinge inside of missing someone... That is love honey...</p>
                    <p>So please honey... Just take care of yourself... Think well about this... Because this love is true, deep and strong honey... Please understand that... And mail me when you see this honey... I miss you now...</p>
                    <p>Always remember that all is well...</p>
                    <p>Lets not worry...</p>
                    <p>Lets not cry...</p>
                    <p>We are strong...</p>
                    <p>If it was a helpless situation that made you not contact me and if you dozed off and slept because of sleeping pills...</p>
                    <p>If there were doctors around you until you slept and if that was why you couldnt mail...</p>
                    <p>If any of these is the reason why you didnt mail honey... its okay... i understand... please dont worry...</p>
                    <p>I am happy you are sleeping... Because you will not be awake and miss me atleast...</p>
                    <p>Take care always honey...</p>
                    <p>Mail me when you see this...</p>
                    <p>I miss you...</p>
                    <p>All is well...</p>
                    <p>I Love You❤</p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>