<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/36.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >WHEN WE LOVE</h1>
                    <br />
                    <p>When its night..</p>
                    <p>When its dark..</p>
                    <p>And cold..</p>
                    <p>And sad..</p>
                    <p>Make sure you have someone to turn the lights on when you feel so lonely..</p>
                    <p>Im not okay..</p>
                    <p>I cant sleep..</p>
                    <p>Its the soul of which needs be lighted up..</p>
                    <p>Be careful when you love someone ..</p>
                    <p>It can take you to paradise..</p>
                    <p>And then it can break you to hell..</p>
                    <p>When you love someone so much..</p>
                    <p>Most in this world..</p>
                    <p>That you dont care about anything else happening in this world..</p>
                    <p>And when she loves you back the same way..</p>
                    <p>That feeling.. is beyond words.. or comparison..</p>
                    <p>Beyond distances..</p>
                    <p>Beyond everything..</p>
                    <p>You do everything that you ever thought you couldnt do..</p>
                    <p>You do everything for her.. you are willing to risk and sacrifice anything..</p>
                    <p>You care for her more than yourself..</p>
                    <p>And she makes you feel so loved.. so strong.. and fills you with belief and confidence and happiness..</p>
                    <p>You become so strong and happy that you dont mind people staring at you when you keep smiling like a stupid all the time..</p>
                    <p>When you connect to each other not just using gadgets or internet.. but telepathically.. using mind.. and soul.. and dreams..</p>
                    <p>Those magic..</p>
                    <p>You cant just find it in everyone..</p>
                    <p>It is only for 'the one'..</p>
                    <p>And when everything is going so perfect and fine..</p>
                    <p>And you are so strong that you dont care or fear of anything in life..</p>
                    <p>And she is your only weakness ..</p>
                    <p>And then she says you can never be together..</p>
                    <p>That breaks you..</p>
                    <p>Shatters you into pieces..</p>
                    <p>That makes you feel vulnerable to even the gentlest of hurts..</p>
                    <p>That makes you lonely even in a crowded place..</p>
                    <p>And that makes you so afraid.. That you cant even close your eyes at nights.. Its that scary...</p>
                    <p>And that is hell...</p>
                    <p>I feel it now..</p>
                    <p>But that love.. that girl.. my soulmate.. is worth every pain suffering you have to go through.. is worth your life..</p>
                    <p>And no matter what.. that love.. being positive or negative.. will stay.. permanent.. etched in your heart and soul..</p>
                    <p>That love.. will stay.. forever...</p>
                    <p>I Love You...</p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>