<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/65.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >YOU AND ME</h1>
                    <br />
                    <p>Honey...</p>
                    <p>My sleepy girl... So you slept off after your check up for the rest of the day and rest of the night isnt it...</p>
                    <p>I miss you like fuck honey...</p>
                    <p>I want to keep talking to you for all the time you are awake...</p>
                    <p>I want to feed you the food into your mouth for when you eat...</p>
                    <p>I want to wake you up with a morning tea in hand and a sweet kiss on your lips...</p>
                    <p>I want to brush your teeth sitting you on the sink and lick and fuck you as i brush your teeth... You ll be helplessly moaning with toothpaste and brush on your mouth...</p>
                    <p>I want to shower with you naked for long and also on the tub hugging and rubbing you... and cleansing you up as you do the same to me... And shower you with kisses everywhere...</p>
                    <p>I want to dry you naked after we shower and rubbing and teasing each other as we dry ourselves...</p>
                    <p>I want to spend all day by cooking with you and reading to you and watching movies and songs...</p>
                    <p>Just sitting you on my lap and watching you smile as i smile wider than you and just fall to your chest....</p>
                    <p>I want to drive fast and long with you as the wind swooshes past us on the seaside...</p>
                    <p>I want to walk with you on the beach with interlocked hands as we watch the sunset...</p>
                    <p>I want to go shopping with you and buy everything that we want and like...</p>
                    <p>I want to lie down on your lap in the park for long as we just smile and share stories and love...</p>
                    <p>I want to dive into the swimming pool and skinny dip with you in the water so cool...</p>
                    <p>I want to do all those naughty things to you to make you laugh and giggle and moan...</p>
                    <p>I want to play music and sing songs with you even if they sound so bad and hoarse...</p>
                    <p>I want to kiss you deep and long and eat the dinner that we cooked under the candlelight...</p>
                    <p>I want to cuddle and hug and kiss and lay on the bed with you and spend every night...</p>
                    <p>I want to be with you in all our happy and tough times to love you and spend time with you and make you the happiest... I want to be with you and take care of you as you do the same to me...</p>
                    <p>I want to compete with you in all those sport like skeet and clay shooting and archery and much much more... I want to taunt you and challenge you and hug and laugh as i win them all...</p>
                    <p>I want to go all those trips and trekks to those places with you that we love and want to visit around the world...</p>
                    <p>I want to do all those adventures with you like sky diving, base or bungee jumps and para gliding and more and more with you on my side or with you cheering me on...</p>
                    <p>I want to do all these and more just with you and keep on doing it again and again in the life that we love laugh and live...</p>
                    <p>I Love You Honey❤</p>
                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>