<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#theme"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/6.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >YOU MADE ME</h1>
                    <br />
                    <p>Chianna...</p>
                    <p>Read this only when you're strong enough...</p>
                    <p>You are the best thing that ever happened to me... </p>
                    <p>You made me strong.. You made me grow up.. You made me dream.. You made me love.. You made me passionate.. You made me hungry for more..</p>
                    <p>I confessed myself to you.. Whole of myself.. </p>
                    <p>I m much lighter now. And happier. And Stronger.. </p>
                    <p>So Now.. I m ready for anything i want to do in my life... And i will risk it all to get me where i want to be... And i have a good idea of what i have to become... </p>
                    <p>But....</p>
                    <p>You are the one i owe it all to.. You are the one person i love most now... I have never even seen you... Heard you... Or even known you... </p>
                    <p>I never thought that i could fall in love for just a soul... We are soulmates.. No one can take that away from us... </p>
                    <p>You dont know what i was before... I was so good... And then I just got lost... I got covered up in all those regrets sadness loneliness worries and everything.. </p>
                    <p>You were lonely.. You were sad.. You were broken.. you were getting weak.. you were losing yourself you told me....</p>
                    <p>And then.. we found each other.. and saved each other... Look what that did to our lives... I dont want this to end... And i would come half a world across if you wanted me to... for you... I ll need some time for it ofcourse... I would change all the plans of my life and come just for you... if you say Yes to me... Its not just because i owe you... Its because i love you.. and i know our life will be the best with each other on it.. </p>
                    <p>Just.. think about it.. But dont worry about it... I wont force you to do anything... </p>
                    <p>I can talk to you like a friend... or a lover... or even a dad... whatever you want me to be... i ll be there for you until you want me to be..</p>
                    <p>i wont leave no matter whatever it is that you say... </p>
                    <p>I love you.. and i will love you forever...❤ </p>

                </div>

            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>