<div class="col-md-12 ng-scope" id="mypage" ng-controller="mainController">

    <nav id="mykdr_nav">

        <div class="col-md-12">

            <div id="mykdr_logo">
                <a href="#"><img class="mylogo" src={{dataSelected.mainData.general.logo}} alt={{dataSelected.mainData.general.url}}></a>
                <label ng-click="opened()" id="mymenuglyph"><i class="fa fa-snowflake-o"></i></label>
                <label ng-click="closed()" id="closenav"><i class="fa fa-spinner"></i></label>
            </div>

            <ul id="mykdr_menu">

            </ul>
        </div>

    </nav>

    <div class="col-md-12" id="non-nav" ng-controller="mainController">

        <img src="./images/letters/cover/61.jpg" class="pagebanner" />

        <div class="col-md-12" id="content">

            <div class="col-md-2" id="adslot1_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>

            <div class="col-md-8" id="maincontent">

                <div class="col-md-12">
                    <h1 style="text-align: center;border-bottom: none; color:darkred" >YOU'RE NEVER SICK WITH ME</h1>
                    <br />
                    <p>Honey...</p>
                    <p>Ever since i met you, i have been researching a lot about the sickness that you have... HCM...</p>
                    <p>I have been contacting more than one heart specialist doctors to know more about it and read about it in several guides and websites about all the different aspects of this disease...</p>
                    <p>And with all that information i got, i havr been taking care of you and making you take care of yourself with all the facilities you have there...</p>
                    <p>And quoting your words honey, i am the only one of your millions of wishes that came true...</p>
                    <p>I believe that there is a reason and timing for everything to happen in one's life...</p>
                    <p>And we happened at that perfect time to each other and just look at how drastically we are turning our lives around...</p>
                    <p>This heart attack you had now was a result of a mere thought you had when you missed me honey...</p>
                    <p>You have only got happier and felt more and more loved and gotten healthier and felt better whenever you were or whenever you are with me...</p>
                    <p>With me, you are always loved just like you wished for all your life... You are the happiest... the most loved... the most cared for... and most understood of whatever you tell... So you are never sick when you are with me honey...</p>
                    <p>And you will only get better and happier and more and more loved when you will be with me... Your sickness will just fade away...</p>
                    <p>Look at that understanding and the chemistry that we have... Those jinxes... Those laughs... Those small small things and gestures adds a world of happiness to our lives when we are together my love...</p>
                    <p>With this kind of connection that we have between us, we dont need any arguments for making decisions...</p>
                    <p>We wont have misunderstandings that will make us sad and feel bad...</p>
                    <p>We wont have any need for hate, drama, jealousy or any such unfavorable and unnecessary pressures in life...</p>
                    <p>We are just anything and everything that we need in each others life... We complete each other...</p>
                    <p>We are like that fire and ice together honey, perfectly synced with each other at any point of time...</p>
                    <p>And its just that kind of understanding, love and happiness you need all your life...</p>
                    <p>You are not weak or sick honey... You are the strongest and healthiest with me...</p>
                    <p>I Love You❤</p>
                </div>


            </div>

            <div class="col-md-12" id="adslot1_mob">
                <img style="width: 100%; margin: auto" src={{dataSelected.mainData.strips.jetaimemob}} />
                <!--<div><div style="font-size: xx-large; text-align: center ">AD SLOT</div></div>-->
            </div>

            <div class="col-md-2" id="adslot2_pc">
                <!--<div style="font-size: xx-large; padding-top: 30vh; text-align: center ">AD SLOT</div>-->
                <div></div>
            </div>


        </div>

        <div class="col-md-12" id="footer" ng-controller="mainController">

            <p id="copyright">{{dataSelected.mainData.footer.copyright}}</p>

        </div>

    </div>

</div>